<div class="container-fluid card">
  <div class="title">
    {{ formLabel }}
  </div>
  <div class="diagnosis-form-description">
    Plumbing, Garbage Disposal, Stoppages/Clogs, Whirlpool Bath, Sump Pump
  </div>
  <form [formGroup]="diagnosisForm" (ngSubmit)="submitDiagnosisForm()">
    <div class="form-group">
      <div class="sub-title">
        Claim Type
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <select class="form-control" id="plumbingClaimType" formControlName="plumbingClaimType" (change)="selectPlumbingClaimType($event.target.value)">
            <option [ngValue]="null" selected disabled>Select a claim type</option>
            <option *ngFor="let plumbingClaimType of keys(plumbingClaimTypes)"
              value="{{ plumbingClaimTypes[plumbingClaimType] }}">
              {{ plumbingClaimTypes[plumbingClaimType] }}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="selectedPlumbingClaimType === plumbingClaimTypes.plumbing">
        <app-plumbing [diagnosisForm]="diagnosisForm"></app-plumbing>
      </div>
      <div *ngIf="selectedPlumbingClaimType === plumbingClaimTypes.garbageDisposal">
        <app-plumbing-garbage-disposal [diagnosisForm]="diagnosisForm"></app-plumbing-garbage-disposal>
      </div>
      <div *ngIf="selectedPlumbingClaimType === plumbingClaimTypes.stoppageClog">
        <app-plumbing-stoppage-clog [diagnosisForm]="diagnosisForm"></app-plumbing-stoppage-clog>
      </div>
      <div *ngIf="selectedPlumbingClaimType === plumbingClaimTypes.sumpPump">
        <app-plumbing-sump-pump [diagnosisForm]="diagnosisForm"></app-plumbing-sump-pump>
      </div>
      <div class="row border-bottom my-3"></div>
      <app-part-failure [diagnosisForm]="diagnosisForm"></app-part-failure>
      <div class="row border-bottom my-3"></div>
      <app-cost-time-material [diagnosisForm]="diagnosisForm"></app-cost-time-material>
      <div class="row border-bottom my-3"></div>
      <app-cost-flat-rate [diagnosisForm]="diagnosisForm"></app-cost-flat-rate>
      <div class="row border-bottom my-3"></div>
      <app-non-covered-charge [diagnosisForm]="diagnosisForm"></app-non-covered-charge>
      <div class="row border-bottom my-3"></div>
      <app-tcf [diagnosisForm]="diagnosisForm"></app-tcf>
      <div class="row border-bottom my-3"></div>
      <div class="sub-title">
        Additional Comments
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <textarea class="form-control" id="additionalComments" formControlName="additionalComments"></textarea>
        </div>
      </div>
      <button class="btn btn-light text-uppercase" type="submit" [disabled]="!diagnosisForm.valid">Submit Form</button>
    </div>
  </form>
</div>
