<ng-container [formGroup]="diagnosisForm">
  <ng-container formGroupName="currentUnitInfo">
    <div class="sub-title">
      Current Unit Specs
    </div>
    <div class="diagnosis-form-description">
      (Heating and AC only - no "unit info" for ductwork needed)
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="brand">Brand:</label>
        <input type="text" class="form-control" id="brand" formControlName="brand">
      </div>
      <div class="form-group col-md-6">
        <label for="modelNumber">Model Number:</label>
        <input type="text" class="form-control" id="modelNumber" formControlName="modelNumber">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="serialNumber">Serial Number:</label>
        <input type="text" class="form-control" id="serialNumber" formControlName="serialNumber">
      </div>
      <div class="form-group col-md-6">
        <label for="age">Age:</label>
        <input type="text" class="form-control" id="age" formControlName="age">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="tonnage">Tonnage:</label>
        <input type="text" class="form-control" id="tonnage" formControlName="tonnage">
      </div>
      <div class="form-group col-md-6">
        <label for="condition">Condition:</label>
        <input type="text" class="form-control" id="condition" formControlName="condition">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="warrantyStatus">Warranty status:</label>
        <input type="text" class="form-control" id="warrantyStatus" formControlName="warrantyStatus">
      </div>
      <div class="form-group col-md-6">
        <label for="numberOfUnits"># of units:</label>
        <input type="text" class="form-control" id="numberOfUnits" formControlName="numberOfUnits">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="zoneServed">Zone served:</label>
        <input type="text" class="form-control" id="zoneServed" formControlName="zoneServed">
      </div>
      <div class="form-group col-md-6">
        <label for="efficiencyRating">Efficiency Rating (SEER or %):</label>
        <input type="text" class="form-control" id="efficiencyRating" formControlName="efficiencyRating">
      </div>
    </div>
  </ng-container>
</ng-container>
