<ng-container [formGroup]="diagnosisForm">
  <ng-container formGroupName="hvacReplacementOnlyInfo">
    <div class="sub-title">
      HVAC Replacement Only
    </div>
    <ng-container formArrayName="items">
      <ng-container *ngFor="let item of items.controls; let i = index">
        <div [formGroupName]="i">
          <div class="row border-bottom my-2" *ngIf="i !== 0"></div>
          <div class="d-flex flex-row-reverse" *ngIf="i !== 0">
            <div (click)="removeItem(i)">
              <button type="button" class="btn-remove-item">
                <i class="fa fa-window-close fa-2x" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="additionalSpecsType">New Equipment SPECS/Purchasing Info</label>
              <select class="form-control" id="additionalSpecsType" formControlName="replacementType" (change)="selectType($event.target.value, i)">
                <option [ngValue]="null" selected disabled>Select an HVAC Type</option>
                <option *ngFor="let additionalSpecsType of keys(additionalSpecsTypes)"
                  value="{{ additionalSpecsType }}">
                  {{ additionalSpecsTypes[additionalSpecsType] }}
                </option>
              </select>
            </div>
          </div>

          <ng-container *ngIf="item.get('replacementType').value === 'condenser'">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="straightACHeatPump">Straight AC/Heat Pump</label>
                <input type="text" class="form-control" id="straightACHeatPump" formControlName="straightACHeatPump">
              </div>
              <div class="form-group col-md-6">
                <label for="tonnage">Tonnage</label>
                <input type="text" class="form-control" id="tonnage" formControlName="tonnage">
              </div>
              <div class="form-group col-md-6">
                <label for="seerRequirement">SEER Requirement in this state (not necessarily the current unit seer rating)</label>
                <input type="text" class="form-control" id="seerRequirement" formControlName="seerRequirement">
              </div>
              <div class="form-group col-md-6" >
                <label for="indoorUnitCompatible">If only the condenser has failed, will the indoor unit be compatible?</label>
                <input type="text" class="form-control" id="indoorUnitCompatible" formControlName="indoorUnitCompatible">
              </div>
              <div class="form-group col-md-6" >
                <label for="mpToOrderFromBuyersGuide">M#/P# to order from buyer's guide</label>
                <input type="text" class="form-control" id="mpToOrderFromBuyersGuide" formControlName="mpToOrderFromBuyersGuide">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <strong>Do you need - TXV (r410a/r22) *the condensers we order have a new filter drier installed on them already - no need to order an additional one*</strong>
              </div>
              <div class="form-group col-md-6">
                <input type="radio" id="needTXVYes" value="Yes" formControlName="needTXV"> <label for="needTXVYes">Yes</label>
                <input type="radio" id="needTXVNo" class="ml-3" value="No" formControlName="needTXV"><label for="needTXVNo">No</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 component-sub-header">
                PU LOCATION OR SHIP TO SHOP ADDRESS
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="address1">Address 1</label>
                <input type="text" class="form-control" id="address1" formControlName="address1">
              </div>
              <div class="form-group col-md-6">
                <label for="address2">Address 2</label>
                <input type="text" class="form-control" id="address2" formControlName="address2">
              </div>
              <div class="form-group col-md-5">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city">
              </div>
              <div class="form-group col-md-5">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state">
              </div>
              <div class="form-group col-md-2">
                <label for="zip">ZIP</label>
                <input type="text" class="form-control" id="zip" formControlName="zip">
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="item.get('replacementType').value === 'compressor'">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="straightACHeatPump">Straight AC/Heat Pump</label>
                <input type="text" class="form-control" id="straightACHeatPump" formControlName="straightACHeatPump">
              </div>
              <div class="form-group col-md-6">
                <label for="btu">BTU</label>
                <input type="text" class="form-control" id="btu" formControlName="btu">
              </div>
              <div class="form-group col-md-6">
                <label for="tonnage">Tonnage</label>
                <input type="text" class="form-control" id="tonnage" formControlName="tonnage">
              </div>
              <div class="form-group col-md-6">
                <label for="scrollRecip">Scroll/Recip</label>
                <input type="text" class="form-control" id="scrollRecip" formControlName="scrollRecip">
              </div>
              <div class="form-group col-md-6" >
                <label for="mpToOrderFromBuyersGuide">M#/P# to order from buyer's guide - If Trane condenser - need OEM Trane Compressor P# from tech</label>
                <input type="text" class="form-control" id="mpToOrderFromBuyersGuide" formControlName="mpToOrderFromBuyersGuide">
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 component-sub-header">
                PU LOCATION OR SHIP TO SHOP ADDRESS
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="address1">Address 1</label>
                <input type="text" class="form-control" id="address1" formControlName="address1">
              </div>
              <div class="form-group col-md-6">
                <label for="address2">Address 2</label>
                <input type="text" class="form-control" id="address2" formControlName="address2">
              </div>
              <div class="form-group col-md-5">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city">
              </div>
              <div class="form-group col-md-5">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state">
              </div>
              <div class="form-group col-md-2">
                <label for="zip">ZIP</label>
                <input type="text" class="form-control" id="zip" formControlName="zip">
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="item.get('replacementType').value === 'evapCoil'">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="horizontalVerticalSlab">Horizontal/Vertical/Slab</label>
                <input type="text" class="form-control" id="horizontalVerticalSlab" formControlName="horizontalVerticalSlab">
              </div>
              <div class="form-group col-md-6">
                <label for="casedUncased">Cased/Uncased</label>
                <input type="text" class="form-control" id="casedUncased" formControlName="casedUncased">
              </div>
              <div class="form-group col-md-6">
                <label for="upflowDownflow">Upflow/Downflow</label>
                <input type="text" class="form-control" id="upflowDownflow" formControlName="upflowDownflow">
              </div>
              <div class="form-group col-md-6">
                <label for="dimensionsToMatch">Dimensions to match (if needed)</label>
                <input type="text" class="form-control" id="dimensionsToMatch" formControlName="dimensionsToMatch">
              </div>
              <div class="form-group col-md-6 align-self-end">
                <label for="tonnage">Tonnage</label>
                <input type="text" class="form-control" id="tonnage" formControlName="tonnage">
              </div>
              <div class="form-group col-md-6" >
                <label for="mpToOrderFromBuyersGuide">M#/P# to order from buyer's guide - If Trane condenser - need OEM Trane Compressor P# from tech</label>
                <input type="text" class="form-control" id="mpToOrderFromBuyersGuide" formControlName="mpToOrderFromBuyersGuide">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <strong> Do you need - TXV (r410a or r22)/Filter Drier (liquid or biflow)</strong>
              </div>
              <div class="form-group col-md-6">
                <input type="radio" id="needTXVYes" value="Yes" formControlName="needTXV"> <label for="needTXVYes">Yes</label>
                <input type="radio" id="needTXVNo" class="ml-3" value="No" formControlName="needTXV"><label for="needTXVNo">No</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 component-sub-header">
                PU LOCATION OR SHIP TO SHOP ADDRESS
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="address1">Address 1</label>
                <input type="text" class="form-control" id="address1" formControlName="address1">
              </div>
              <div class="form-group col-md-6">
                <label for="address2">Address 2</label>
                <input type="text" class="form-control" id="address2" formControlName="address2">
              </div>
              <div class="form-group col-md-5">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city">
              </div>
              <div class="form-group col-md-5">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state">
              </div>
              <div class="form-group col-md-2">
                <label for="zip">ZIP</label>
                <input type="text" class="form-control" id="zip" formControlName="zip">
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="item.get('replacementType').value === 'airHandler'">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="straightACHeatPump">Straight AC/Heat Pump (if it matters)</label>
                <input type="text" class="form-control" id="straightACHeatPump" formControlName="straightACHeatPump">
              </div>
              <div class="form-group col-md-6">
                <label for="tonnage">Tonnage</label>
                <input type="text" class="form-control" id="tonnage" formControlName="tonnage">
              </div>
              <div class="form-group col-md-6">
                <label for="dimensionsToMatch">Dimensions to match (if needed)</label>
                <input type="text" class="form-control" id="dimensionsToMatch" formControlName="dimensionsToMatch">
              </div>
              <div class="form-group col-md-6">
                <label for="heatStripsKW">Heat Strips KW/Breaker or Not</label>
                <input type="text" class="form-control" id="heatStripsKW" formControlName="heatStripsKW">
              </div>
              <div class="form-group col-md-6" >
                <label for="mpToOrderFromBuyersGuide">M#/P# to order from buyer's guide - If Trane condenser - need OEM Trane Compressor P# from tech</label>
                <input type="text" class="form-control" id="mpToOrderFromBuyersGuide" formControlName="mpToOrderFromBuyersGuide">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <strong> Do you need - TXV (r410a or r22)/Filter Drier (liquid or biflow)</strong>
              </div>
              <div class="form-group col-md-6">
                <input type="radio" id="needTXVYes" value="Yes" formControlName="needTXV"> <label for="needTXVYes">Yes</label>
                <input type="radio" id="needTXVNo" class="ml-3" value="No" formControlName="needTXV"><label for="needTXVNo">No</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 component-sub-header">
                PU LOCATION OR SHIP TO SHOP ADDRESS
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="address1">Address 1</label>
                <input type="text" class="form-control" id="address1" formControlName="address1">
              </div>
              <div class="form-group col-md-6">
                <label for="address2">Address 2</label>
                <input type="text" class="form-control" id="address2" formControlName="address2">
              </div>
              <div class="form-group col-md-5">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city">
              </div>
              <div class="form-group col-md-5">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state">
              </div>
              <div class="form-group col-md-2">
                <label for="zip">ZIP</label>
                <input type="text" class="form-control" id="zip" formControlName="zip">
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="item.get('replacementType').value === 'gasFurnace'">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="efficiency">Efficiency %</label>
                <input type="text" class="form-control" id="efficiency" formControlName="efficiency">
              </div>
              <div class="form-group col-md-6">
                <label for="btu">BTU</label>
                <input type="text" class="form-control" id="btu" formControlName="btu">
              </div>
              <div class="form-group col-md-6 align-self-end">
                <label for="driveTonnage">Drive Tonnage</label>
                <input type="text" class="form-control" id="driveTonnage" formControlName="driveTonnage">
              </div>
              <div class="form-group col-md-6" >
                <label for="mpToOrderFromBuyersGuide">M#/P# to order from buyer's guide - If Trane condenser - need OEM Trane Compressor P# from tech</label>
                <input type="text" class="form-control" id="mpToOrderFromBuyersGuide" formControlName="mpToOrderFromBuyersGuide">
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 component-sub-header">
                PU LOCATION OR SHIP TO SHOP ADDRESS
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="address1">Address 1</label>
                <input type="text" class="form-control" id="address1" formControlName="address1">
              </div>
              <div class="form-group col-md-6">
                <label for="address2">Address 2</label>
                <input type="text" class="form-control" id="address2" formControlName="address2">
              </div>
              <div class="form-group col-md-5">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city">
              </div>
              <div class="form-group col-md-5">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state">
              </div>
              <div class="form-group col-md-2">
                <label for="zip">ZIP</label>
                <input type="text" class="form-control" id="zip" formControlName="zip">
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="item.get('replacementType').value === 'gasPac'">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="tonnage">Tonnage</label>
                <input type="text" class="form-control" id="tonnage" formControlName="tonnage">
              </div>
              <div class="form-group col-md-6">
                <label for="btu">BTU</label>
                <input type="text" class="form-control" id="btu" formControlName="btu">
              </div>
              <div class="form-group col-md-6">
                <label for="seerRequirement">SEER Requirement in this state (not necessarily the current unit seer rating)</label>
                <input type="text" class="form-control" id="seerRequirement" formControlName="seerRequirement">
              </div>
              <div class="form-group col-md-6" >
                <label for="mpToOrderFromBuyersGuide">M#/P# to order from buyer's guide - If Trane condenser - need OEM Trane Compressor P# from tech</label>
                <input type="text" class="form-control" id="mpToOrderFromBuyersGuide" formControlName="mpToOrderFromBuyersGuide">
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 component-sub-header">
                PU LOCATION OR SHIP TO SHOP ADDRESS
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="address1">Address 1</label>
                <input type="text" class="form-control" id="address1" formControlName="address1">
              </div>
              <div class="form-group col-md-6">
                <label for="address2">Address 2</label>
                <input type="text" class="form-control" id="address2" formControlName="address2">
              </div>
              <div class="form-group col-md-5">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city">
              </div>
              <div class="form-group col-md-5">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state">
              </div>
              <div class="form-group col-md-2">
                <label for="zip">ZIP</label>
                <input type="text" class="form-control" id="zip" formControlName="zip">
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="item.get('replacementType').value === 'packagedHeatPump'">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="tonnage">Tonnage</label>
                <input type="text" class="form-control" id="tonnage" formControlName="tonnage">
              </div>
              <div class="form-group col-md-6">
                <label for="heatStripsKW">Heat Strips KW/Breaker or Not</label>
                <input type="text" class="form-control" id="heatStripsKW" formControlName="heatStripsKW">
              </div>
              <div class="form-group col-md-6">
                <label for="seerRequirement">SEER Requirement in this state (not necessarily the current unit seer rating)</label>
                <input type="text" class="form-control" id="seerRequirement" formControlName="seerRequirement">
              </div>
              <div class="form-group col-md-6" >
                <label for="mpToOrderFromBuyersGuide">M#/P# to order from buyer's guide - If Trane condenser - need OEM Trane Compressor P# from tech</label>
                <input type="text" class="form-control" id="mpToOrderFromBuyersGuide" formControlName="mpToOrderFromBuyersGuide">
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 component-sub-header">
                PU LOCATION OR SHIP TO SHOP ADDRESS
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="address1">Address 1</label>
                <input type="text" class="form-control" id="address1" formControlName="address1">
              </div>
              <div class="form-group col-md-6">
                <label for="address2">Address 2</label>
                <input type="text" class="form-control" id="address2" formControlName="address2">
              </div>
              <div class="form-group col-md-5">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city">
              </div>
              <div class="form-group col-md-5">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state">
              </div>
              <div class="form-group col-md-2">
                <label for="zip">ZIP</label>
                <input type="text" class="form-control" id="zip" formControlName="zip">
              </div>
            </div>
          </ng-container>

        </div>
      </ng-container>
    </ng-container>
    <div class="add-another" (click)="addItem()">
      <button type="button" class="btn-add-another">
        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
      </button>
      <span class="label-add-another">Add another part</span>
    </div>
  </ng-container>
</ng-container>
