@media (min-width: 76.8rem) {
	.form-group {
		margin-right: 1rem;
	}
	.form-control {
        height: calc(1.5em + 2rem + .2rem);
        width: 14.375rem;
	}
	.btn-secondary {
		height: 3.6rem;
		width: 3.6rem;
	}
}