<div id="login-container">
  <div class="d-flex flex-column">
    <div class="header text-center mb-4">
      <div class="title text-primary">Sign in to manage your account</div>
    </div>
    <div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group" (click)="resetResponseError()">
          <input type="email" id="username" class="form-control" alt="email" placeholder="Email Address"
            formControlName="userName" required />
          <div class="errors pt-1">
            <div *ngIf="
                !loginForm.get('userName').valid &&
                (loginForm.get('userName').dirty ||
                  loginForm.get('userName').touched)
              " class="text-danger small">
              Please enter a valid email address.
            </div>
          </div>
        </div>
        <div class="form-group" (click)="resetResponseError()">
          <input [type]="showPassword ? 'password' : 'text'" id="password" class="form-control password" alt="password"
            placeholder="Password" formControlName="userPassword" required />
          <i (click)="togglePassword()" [class]="showPassword ? 'fa fa-eye-slash eye-icon' : 'fa fa-eye eye-icon'">
          </i>
          <div class="errors pt-1">
            <div class="text-danger small" *ngIf="
                !loginForm.get('userPassword').valid &&
                (loginForm.get('userPassword').dirty ||
                  loginForm.get('userPassword').touched)
              ">
              Please enter a valid password.
            </div>
          </div>
        </div>
        <div class="form-group small text-muted">
          By clicking "Sign In", you agree to the
          <a [href]="termsOfUseUrl" target="_blank">Terms of Use</a>
          and
          <a [href]="privacyPolicyUrl" target="_blank">Privacy Policy</a>
          .
        </div>
        <div class="form-group text-center py-1">
          <button type="submit" id="form-submit-button" class="btn btn-submit-large" [disabled]="!loginForm.valid">
            Sign In
          </button>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="showResponseError" [innerHTML]="responseErrorMessage"></div>
        <div *ngIf="showLoadingSpinner" class="form-group text-center py-1">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw loading-spinner"></i>
          <span class="sr-only">Loading...</span>
        </div>
      </form>
    </div>
    <div class="footer small">
      <div><a routerLink="/auth/forgot-password">{{passwordResetRequiredExceptionLable}}</a></div>
    </div>
  </div>
</div>