<div class="notification">
  <strong>For claims opened prior to October 22, 2021, please submit all invoices within 30 days of completing the work.</strong> AIG will be servicing the majority of claims after October 22, 2021. As of November 22, 2021, you will no longer be able to submit diagnosis forms electronically, and the forms will
  no longer be available online. <br/> <span class="notification-link" (click)="sendToInfoPage()">Learn more about this transition</span>.
</div>

<div class="notification" *ngIf="showNotifcation()">
  <p>You have <span class="notification-number">{{ wipClaims }}</span>  new claims awaiting your approval within the search results below. See your claims now and schedule a service appointment.</p>
</div>

