<div class="business-container">
  <div class="info-section">
    <div class="info-items txt-business">Business Info</div>
    <div class="d-flex info-items">
      <div class="items-part-one">
        Account Number: <span class="item-values">{{ accountNumber }}</span>
      </div>
      <div>
        Tax ID Number (EIN):
        <span class="item-values">{{ showOnlyLastFour(taxId) }}</span>
      </div>
    </div>
    <div class="d-flex info-items">
      <div class="items-part-one">
        Owner: <span *ngIf="owner" class="item-values">{{ owner }}</span>
      </div>
      <div>
        Company Name: <span class="item-values">{{ companyname }}</span>
      </div>
    </div>
    <div class="d-flex info-items">
      <div class="items-part-one" id="businessEmailAddress">
        Email Address:
        <span *ngIf="email" class="item-values">{{ email }}</span>
      </div>
      <div>
        Phone Number: <span class="item-values">{{ phoneNumber }}</span>
      </div>
    </div>
    <div class="d-flex info-items">
      <div class="items-part-one">
        Additional Contact:
        <span *ngIf="additionalContactName" class="item-values">{{
          additionalContactName
        }}</span>
      </div>
      <div>
        Additional Contact Phone:
        <span *ngIf="additionalContactPhoneNumber" class="item-values">{{
          additionalContactPhoneNumber
        }}</span>
      </div>
    </div>
    <div class="d-flex info-items address">
      <div class="items-part-one">
        Business Address:
        <div class="item-values">{{ businessAddress?.address1 }}</div>
        <div *ngIf="businessAddress?.address2" class="item-values">{{ businessAddress?.address2 }}</div>
        <div class="item-values">{{ businessAddress?.city }}, {{ businessAddress?.state }}, {{ businessAddress?.postalCode }}</div>
      </div>
      <div>
        Mailing Address:
        <div class="item-values">{{ mailingAddress?.address1 }}</div>
        <div class="item-values">
          {{ mailingAddress?.city }}, {{ mailingAddress?.state }}, {{mailingAddress?.postalCode }}
        </div>
      </div>
    </div>
    <div class="hwa-section">
      <div class="d-flex info-items hwa-items">
        <div class="items-part-one hwa-header">HWA Contact Information</div>
      </div>
      <div class="d-flex info-items hwa-items">
        <div class="items-part-one">
          Email Address:
          <span class="item-values"
            ><a src="#">{{ hwaContactEmail }}</a></span
          >
        </div>
        <!-- <div class="items-part-one">
          Territory Manager:
          <span class="item-values">{{ hwaContactName }}</span>
        </div> -->
        <div>
          Contact Phone:
          <span class="item-values">{{ hwaContactPhoneNumber }}</span>
        </div>
      </div>
      <!-- <div class="d-flex info-items hwa-items">
        <div class="items-part-one">
          Email Address:
          <span class="item-values"
            ><a src="#">{{ hwaContactEmail }}</a></span
          >
        </div>
      </div> -->
    </div>
    <ng-container *ngIf="showUserDetails">
      <div class="d-flex info-items user-psw-section">
        <div class="items-part-one">Username/Password</div>
      </div>
      <div class="d-flex info-items name-password">
        <div class="items-part-one">
          Username: <span class="item-values">{{ userName }}</span>
        </div>
        <div>
          Password:
          <span class="item-values">{{ hidePassword(password) }}</span>
        </div>
        <!-- <div class="edit-symbol" style="margin-left:auto">Edit</div> -->
      </div>
    </ng-container>
  </div>
</div>
