
<div class="business-container">
  <div class="info-section">
    <div class="info-items txt-business">Business Info</div>
      <div class="d-flex info-items">
          <div class="items-part-one">Account Number: <span class="item-values">12345</span></div>
          <div>Tax ID Number (EIN): <span class="item-values">XX-XXX4534</span></div>
      </div>
      <div class="d-flex info-items">
          <div class="items-part-one">Owner: <span class="item-values">John Smith</span></div>
          <div>Company Name: <span class="item-values">ABC Plumbing</span></div>
      </div>
      <div class="d-flex info-items">
          <div class="items-part-one">Email Address: <span class="item-values">johnsmith@abcplumbing.com</span></div>
          <div>Phone Number: <span class="item-values">888-888-8888</span></div>
      </div>
      <div class="d-flex info-items">
          <div class="items-part-one">Additional Contact: <span class="item-values">Rose Jolee</span></div>
          <div>Additional Contact Phone: <span class="item-values">888-888-8888</span></div>
      </div>
      <div class="d-flex info-items address">
          <div class="items-part-one">Business Address: 
            <div class="item-values">123 ABC Street</div>
            <div class="item-values">Towny Town, City, State, 12345</div>
          </div>
          <div>Mailling Address:
              <div class="item-values">123 ABC Street</div>
              <div class="item-values">Towny Town, City, State, 12345</div>  
          </div>
      </div>
      <div class="hwa-section">
          <div class="d-flex info-items hwa-items">
              <div class="items-part-one hwa-header">HWA Contact Information</div> 
          </div>
          <div class="d-flex info-items hwa-items">
              <div class="items-part-one">Territory Manager: <span class="item-values">Mary Moore</span></div>
              <div>Contact Phone: <span class="item-values">888-333-4444</span></div>
          </div>
          <div class="d-flex info-items hwa-items">
              <div class="items-part-one">Email Address: <span class="item-values"><a src="#">mary.moore@hwahomewarranty.com</a></span></div>
          </div>
      </div>
      <div class="d-flex info-items user-psw-section">
          <div class="items-part-one">Username/Password</div> 
      </div>
      <div class="d-flex info-items name-password">
          <div class="items-part-one">Username: <span class="item-values">abcplumber1</span></div>
          <div>Password: <span class="item-values">**********</span></div>
          <div class="edit-symbol" style="margin-left:auto">Edit</div>
      </div>
    </div>
</div>
