.business-container{
  .info-section{
      color: rgb(102, 102, 102);
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
      .address{
          height:100px !important;
          border-bottom: none !important;
          .item-values:first-child{
              margin-top:6px;
          }
      }
      .txt-business{
          font-weight: 300;
          font-size: 1.5rem;
          color: #00849b;
          padding-top: 15px;
      }
      .user-psw-section{
          margin-top:30px;
      }
      .info-items{
          height:70px;
          margin-left:40px;
          border-bottom: 1px solid rgb(221, 221, 221);
          align-items: center;
          .item-values{
              font-weight: 500;
              a{
                  text-decoration: underline;
                  color: #00849b !important;
              }
          }
          .items-part-one{
              width:500px;
          }
          
      }
      .name-password{
          border-bottom: none !important;
          .edit-symbol{
              text-decoration: underline;
              color: #00849b !important;
              cursor: pointer;
          }
      }
      .hwa-items{
          margin-left:15px !important;
      }
      .hwa-section{
          background-color: rgb(250, 250, 250); 
          margin-left:25px;
          margin-top:30px;
          .hwa-header{
              font-size: 24px !important;
              color:#00849b;
              font-weight: 100;
          }
      }
  }
}
