<div class="container-fluid card">
  <div class="title">
    {{ formLabel }}
  </div>
  <form [formGroup]="diagnosisForm" (ngSubmit)="submitDiagnosisForm()">
    <div class="form-group">
      <app-part-failure [diagnosisForm]="diagnosisForm"></app-part-failure>
      <div class="row border-bottom my-3"></div>
      <app-cost-time-material [diagnosisForm]="diagnosisForm"></app-cost-time-material>
      <div class="row border-bottom my-3"></div>
      <app-cost-flat-rate [diagnosisForm]="diagnosisForm"></app-cost-flat-rate>
      <div class="row border-bottom my-3"></div>
      <app-non-covered-charge [diagnosisForm]="diagnosisForm"></app-non-covered-charge>
      <div class="row border-bottom my-3"></div>
      <app-tcf [diagnosisForm]="diagnosisForm"></app-tcf>
      <div class="row border-bottom my-3"></div>
      <div class="sub-title">
        Additional Comments
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <textarea class="form-control" id="additionalComments" formControlName="additionalComments"></textarea>
        </div>
      </div>
      <button class="btn btn-light text-uppercase" type="submit" [disabled]="!diagnosisForm.valid">Submit Form</button>
    </div>
  </form>
</div>
