@import '../../../assets/styles/contractor-layout-styles.scss';

.help-container {
  .form-group {
    width: 100%;
  }
  input[type="text"] {
    height: 3.125rem;
  }
  input[type="email"] {
    height: 3.125rem;
  }
  button[type="submit"] {
    height: 2.875rem;
  }

  select {
    height: 3.125rem;
  }
  .preferredmethod {
    width: 25%;
  }

  .header-txt {
    font-weight: 300;
    font-size: 1.875rem;
    color: $hwa-color-teal;
  }

}
