@import "../../../../assets/styles/contractor-layout-styles";
.claim-summary {
  border: 0.1rem solid $hwa-color-gray;
  border-top: 1rem solid $hwa-color-teal;

  .activity {
    padding: 1rem;
    .sub-title {
      color: $hwa-color-orange;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }
    .sub-title2 {
      display: block;
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .search-box {
    margin: 1rem;
  }
}
