<div id="claim-summary-container" class="d-flex flex-column">
  <header class="header-txt">Welcome<label *ngIf="partyName !== null">, {{partyName}}</label>
  </header>
  <div class="alert alert-danger text-danger text-center">
    {{ coronoaVirusMsg }}
  </div>
  <p class="login-info" *ngIf="lastLoginDate">{{lastLoginDate}}</p>
  <app-claim-notification [claimSubject$]="claimList$"></app-claim-notification>
  <div class="claim-summary">
    <div class="activity">
      <span class="sub-title">{{ subTitleText1 }}</span>
      <span class="sub-title2">{{ subTitleText2 }}</span>
    </div>
    <ng-container *ngIf="isCompleted && claimsFound">
      <div class="search-box">
        <app-search-box
          [claimSubject$]="claimList$"
          (updatedClaimsEmitter)="search($event)"
        ></app-search-box>
      </div>
    </ng-container>
    <div>
      <app-claim-table
        [claimSubject$]="claimList$"
        [searchedClaimSubject$]="searchedClaim$"
        [completedSubject$]="completion$"
      ></app-claim-table>
    </div>
  </div>
</div>