<div id="reset-password-container">
  <div class="d-flex flex-column">
    <div id="header" class="text-center mb-2">
      <div class="title text-primary">Reset Your Password</div>
    </div>
    <div id="body" class="mt-2">
      <form [formGroup]="resetForm">
        <div class="form-group">
          <label for="new-password" class="small">Please enter the new password:</label>
          <input
            type="password"
            class="form-control"
            id="new-password"
            name="new-password"
            alt="new password"
            placeholder="new password"
            formControlName="newPassword"
          />
          <div class="errors small mt-1">
            <div
              class="text-danger"
              *ngIf="!resetForm.get('newPassword').valid && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)"
            >
              Please enter a valid email address.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm-password" class="small">Please confirm the password:</label>
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            alt="new password"
            name="confirm-password"
            placeholder="confirm password"
            formControlName="confirmPassword"
          />
          <div class="errors small mt-1">
            <div  *ngIf="!resetForm.get('confirmPassword').valid && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
              <div
                class="text-danger"
                *ngIf="resetForm.get('confirmPassword').errors.required"
              >
                Please enter a valid email address.
              </div>
              <div
                class="text-danger"
                *ngIf="resetForm.get('confirmPassword').errors.passwordNoMatch"
              >
                Please review your password, the passwords provided dont match..
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-submit-large mt-2" (click)="resetPassword()" [disabled]="!resetForm.valid">
            Reset Password
          </button>
        </div>
      </form>
    </div>
    <div id="footer" class=""></div>
  </div>

</div>
