
  <div class="header-txt">Welcome, John</div>
  <div class="d-flex profile-mgnt">
      <div class="left-nav-bar">
        <div class="d-flex" [ngClass]="{'left-nav-bar-items': item===profileMgntEnum.BusinessInfo}" (click)="gotoSections(profileMgntEnum.BusinessInfo)">Business Info</div>
        <div class="d-flex" [ngClass]="{'left-nav-bar-items': item===profileMgntEnum.Documents}" (click)="gotoSections(profileMgntEnum.Documents)">ACH/Documents</div>
        <div class="d-flex" [ngClass]="{'left-nav-bar-items': item===profileMgntEnum.AgreedRates}" (click)="gotoSections(profileMgntEnum.AgreedRates)">Agreed Rates</div>
        <div class="d-flex" [ngClass]="{'left-nav-bar-items': item===profileMgntEnum.ServiceArea}" (click)="gotoSections(profileMgntEnum.ServiceArea)">Service Areas</div>
        <div class="d-flex" [ngClass]="{'left-nav-bar-items': item===profileMgntEnum.Calender}" (click)="gotoSections(profileMgntEnum.Calender)">Calendar</div>
      </div>
      <div class="profile-content">
         <app-business-info *ngIf="item===profileMgntEnum.BusinessInfo"></app-business-info>
         <app-ach-documents *ngIf="item===profileMgntEnum.Documents"></app-ach-documents>
         <app-service-areas *ngIf="item===profileMgntEnum.ServiceArea"></app-service-areas>
      </div>
  </div>

