
  <div class="header-txt">Welcome, John</div>
  <div class="d-flex profile-mgnt">
      <div class="left-nav-bar">
        <div class="d-flex" [ngClass]="{'left-nav-bar-items': item === profileManagementTypes.BusinessInfo}" (click)="gotoSections(profileManagementTypes.BusinessInfo)">Bussiness Info</div>
        <div class="d-flex" [ngClass]="{'left-nav-bar-items': item === profileManagementTypes.Documents}" (click)="gotoSections(profileManagementTypes.Documents)">ACH/Documents</div>
        <div class="d-flex" [ngClass]="{'left-nav-bar-items': item === profileManagementTypes.AgreedRates}" (click)="gotoSections(profileManagementTypes.AgreedRates)">Agreed Rates</div>
        <div class="d-flex" [ngClass]="{'left-nav-bar-items': item === profileManagementTypes.ServiceArea}" (click)="gotoSections(profileManagementTypes.ServiceArea)">Service Areas</div>
        <div class="d-flex" [ngClass]="{'left-nav-bar-items': item === profileManagementTypes.Calender}" (click)="gotoSections(profileManagementTypes.Calender)">Calendar</div>
      </div>
      <div class="profile-content">
         <app-business-info *ngIf="item === profileManagementTypes.BusinessInfo"></app-business-info>
         <app-ach-documents [achDocs]="achDocs" [completion]="achDocsCompletion" [error]="achDocsError" *ngIf="item === profileManagementTypes.Documents"></app-ach-documents>
         <app-agreed-rates [agreedRates]="agreedRates" [completion]="agreedRatesCompletion" [error]="agreedRatesError" *ngIf="item === profileManagementTypes.AgreedRates"></app-agreed-rates>
         <app-service-areas *ngIf="item === profileManagementTypes.ServiceArea"></app-service-areas>
         <app-calendar *ngIf="item === profileManagementTypes.Calender"></app-calendar>
      </div>
  </div>

