<div class="documents-container">
  <div class="info-section">
    <div class="header">
      <div class="info-items txt-business">ACH Information</div>
      <button 
        *ngIf="!loading"
        type="button"
        class="btn btn-lg info-documents ml-auto mt-2"
        (click)="openAchModal()"
      >
        <i class="fa fa-arrow-up"></i> Upload Payment Info
      </button>
    </div>

    <app-loading-spinner *ngIf="loading"></app-loading-spinner>
    <ng-container *ngIf="!loading && isData">
      <div *ngFor="let info of achDocs">
        <div class="d-flex info-items">
          <div class="items-part-one">
            Bank Routing Number:
            <span class="item-values">{{ info?.routingNumber | formatLastFour }}</span>
          </div>
        </div>
        <div class="d-flex info-items">
          <div class="items-part-one">
            Checking Account Number:
            <span class="item-values">{{ info?.accountNumber | formatLastFour }}</span>
          </div>
        </div>
      </div>
      <div class="docs-container">
        <div class="info-txt txt-documents">
          In order to update your bank information, please complete an ACH form
          and upload it using it the Upload Documents button below. Your
          Territory Manager will validate the information and update your
          profile.
        </div>
        <div class="edit-symbol items-part-one">
            <a href="{{ achFormPath }}" download="{{ achFormTitle }}">Download ACH Form</a>
        </div>
      </div>
      <div class="docs-container">
        <div class="info-txt txt-documents">
          <p class="txt-business">Other Documents</p>
          Please select Upload Documents to include the required documentation (Trade License, W9, Workers Comp, General Liability Insurance).
        </div>
        <button
          type="button"
          class="btn btn-lg info-documents ml-auto mt-5"
          (click)="openOtherDocsModal()"
        >
          <i class="fa fa-arrow-up"></i> Upload Documents
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="!isData && !loading">
      <div class="d-flex info-items">
        <p>{{ noInfoText }}</p>
      </div>
    </ng-container>
  </div>
</div>
