@import '../../../../assets/styles/contractor-layout-styles.scss';
.documents-container {
  .info-section {
    color: $hwa-color-gray;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    .txt-business {
      font-weight: 300;
      font-size: 1.5rem;
      color: $hwa-color-teal;
      padding-top: 0.9375rem;
    }
    .edit-symbol {
      text-decoration: underline;
      color: $hwa-color-teal !important;
      cursor: pointer;
      float: right;
      padding-top: 2rem;
    }
    .info-items {
      margin-left: 2.5rem;
      border-bottom: 0.0625rem solid $hwa-color-light-gray;
      align-items: center;
      padding: 1rem 0;
      .item-values {
        font-weight: 500;
        a {
          text-decoration: underline;
          color: $hwa-color-teal !important;
        }
      }
      .items-part-one {
        padding-top: 1rem;
      }
    }
    .docs-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      
      .txt-documents {
        width: 70%;
        margin-left: 2.5rem;
        padding-top: 1rem;
      }

    }
    
    .info-documents {
      margin-left: 2rem;
    }
  }
  .btn {
    background-color: $white !important;
    color: $hwa-color-teal !important;
    border-color: $hwa-color-teal !important;
  }
}
