@import '../../../../assets/styles/contractor-layout-styles.scss';
.documents-container {
  .info-section {
    color: $hwa-color-gray;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    .txt-business {
      font-weight: 300;
      font-size: 1.5rem;
      color: $hwa-color-teal;
      padding-top: 15px;
    }
    .edit-symbol {
      text-decoration: underline;
      color: $hwa-color-teal !important;
      cursor: pointer;
      float: right;
      margin-top: 5px;
    }
    .info-items {
      height: 70px;
      margin-left: 40px;
      border-bottom: 1px solid $hwa-color-light-gray;
      align-items: center;
      .item-values {
        font-weight: 500;
        a {
          text-decoration: underline;
          color: $hwa-color-teal !important;
        }
      }
      .items-part-one {
        width: 800px;
      }
    }
  }
}
