<div id="forgot-password-container">
  <div class="d-flex flex-column">
    <div id="header" class="mb-4 text-center">
      <div class="title text-primary">Forgot Password?</div>
    </div>
    <div id="body pb-2">
      <ng-container *ngIf="!showSuccessMessage">
        <form [formGroup]="forgotPasswordForm">
          <div class="form-group">
            <label for="userEmail" class="d-block small">Please enter your email address:</label>
            <input
              type="email"
              id="userEmail"
              name="userEmail"
              placeholder="email"
              alt="user email"
              class="form-control"
              formControlName="userEmail"
            />
            <div class="errors small mt-1">
              <div
                class="text-danger"
                *ngIf="!forgotPasswordForm.get('userEmail').valid && (forgotPasswordForm.get('userEmail').dirty || forgotPasswordForm.get('userEmail').touched)"
              >
                Please provide a valid email address.
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <button
              type="button"
              class="btn btn-submit-large"
              [disabled]="!forgotPasswordForm.valid"
              (click)="forgotPassword()"
            >
              Submit
            </button>
          </div>
        </form>
      </ng-container>
      <div id="success-message" class="pb-3 small text-center" *ngIf="showSuccessMessage">
        <div class="py-2">
          <i class="fa fa-paper-plane fa-2x text-dark px-2" aria-hidden="true"></i>
          <h4 class="text-primary d-inline">Great!</h4>
        </div>
        <div>
          If we have an account matching that e-mail address, you should receive an e-mail shortly with a password reset link.
        </div>
      </div>
      <div class="text-center small mt-2"><a routerLink="/user/login">Go back to login</a></div>
    </div>

    <div id="footer" class="small mt-3">
      <div class="text-dark footer-label">Still having trouble?</div>
      <div>Call us at <span class="phone">{{ contactPhoneNumber }}</span> and we can help you log back in.</div>
    </div>
  </div>
</div>

