<div class="hwa">
    <div class="hwa-background">
        <div class="body-container">
            <div class="head-container">
                <div class="brand-logo"><img alt="hwahomewarrantyLogo"
                        src="../../assets/images/hwa.png">
                </div>
            </div>
            <div class="maintenance-page">
                <div class="maintenance-msg">
                    <h1>{{ title }}</h1>
                    <h2>{{ firstSentence }} {{ endDate }}. {{ secondSentence }}</h2>
                    <h2>{{ thirdSentence }} <a href="mailto:{{ email }}">{{ email }}</a>.</h2>
                </div>
                <div class="maintenance-plugs">
                    <img src="../../assets/images/maintenanceplugs.png" alt="maintenanceplugs">
                </div>
            </div>
        </div>
    </div>
</div>
