@import "../../../../assets/styles/contractor-layout-styles";

.agreed-rates-container {
  margin-left: 2.5rem;
  .profile-info-section {
    .txt-agreed-rates {
      font-weight: 300;
      font-size: 1.5rem;
      color: $hwa-color-teal;
      padding-top: 0.9375rem;
      height:4.375rem;
      border-bottom: 0.0625rem solid $hwa-color-light-gray;
      align-items: center;
    }
    .info-rates {
      width: 66.5rem;
    }
    .profile-info-details {
      font-size: 1.125rem;
      height: 4rem;
    }
    .profile-agreed-rates {
      font-weight: bold;
    }
    .agreed-rates {
      border-bottom: 0.0625rem solid $hwa-color-pelorous;
      color: $hwa-color-pelorous;
      font-size: 1.125rem;
    }
    .agreed-rates-info {
      padding-top: 1rem;
    }
    .work-time {
      width: 67.75rem;
    }
  }
}
.info {
  color: $hwa-color-gray;
  font-size: 1.2rem;
  width: 80%;
}
