<div class="agreed-rates-container align-middle">
  <div class="profile-info-section">
    <div class="txt-agreed-rates pt-3">Agreed Rates</div>
    <app-loading-spinner *ngIf="loading"></app-loading-spinner>
    <ng-container *ngIf="!loading && isData">
      <app-agreed-rate-detail  [rateDetails]="rateDetails"></app-agreed-rate-detail>
      <app-agreed-rates-table [tradeAgreementDetails]="tradeAgreementDetaills"></app-agreed-rates-table>
    </ng-container>
    <ng-container *ngIf="!loading && !isData">
       <div class="info">
         <p>{{ noInfoText }}</p>
        </div>
      </ng-container>
  </div>
</div>

