@import "../../../../assets/styles/contractor-layout-styles.scss";
.footer-links {
  color: $color-poppy;
  font-family: Roboto;
  font-weight: 700;
}
ul li {
  margin-bottom: 0.6rem;
  a {
    color: $hwa-color-teal;
    font-family: Roboto;
    text-decoration: none;
  }
}
