<div class="row border-bottom border-top pt-4 pb-4 font-weight-light">
  <div class="col-md-2">
    <span class="d-block mb-3 footer-links">Company</span>
    <ul class="list-unstyled">
      <li><a [href]="footerLinks.about" target="_blank">About</a></li>
      <li><a [href]="footerLinks.values" target="_blank">Our Values</a></li>
      <li><a [href]="footerLinks.news" target="_blank">News</a></li>
      <li><a [href]="footerLinks.policy" target="_blank">Privacy Policy</a></li>
      <li><a [href]="footerLinks.terms" target="_blank">Terms of Use</a></li>
    </ul>
  </div>
  <div class="col-md-2">
    <span class="d-block mb-3 footer-links">Support</span>
    <ul class="list-unstyled">
      <li><a [href]="footerLinks.contact" target="_blank">Contact DEPP</a></li>
      <li><a [href]="footerLinks.faqs" target="_blank">Homeowners FAQs</a></li>
    </ul>
  </div>
</div>
