@import '../../../../assets/styles/contractor-layout-styles.scss';

.service-change-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 1rem 0px;
}

.sub-header-txt {
  font-weight: 300;
  font-size: 1.5rem;
  color: $hwa-color-teal;
  margin: 1rem 0px;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}
