<div class="container-fluid card">
  <div class="title">
    {{ formLabel }}
  </div>
  <form [formGroup]="diagnosisForm" (ngSubmit)="submitDiagnosisForm()">
    <div class="form-group">
      <div class="sub-title">
        Claim Type
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <select class="form-control" id="claimType" formControlName="claimType" (change)="selectClaimType($event.target.value)">
            <option [ngValue]="null" selected disabled>Select a claim type</option>
            <option *ngFor="let otherClaimType of keys(otherClaimTypes)"
              value="{{ otherClaimTypes[otherClaimType] }}">
              {{ otherClaimTypes[otherClaimType] }}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="selectedClaimType">
        <div formGroupName="claimTypeInfo">
          <div *ngIf="selectedClaimType === otherClaimTypes.garageDoorOpener">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="horsepower">Horsepower:</label>
                <input type="text" class="form-control" id="horsepower" formControlName="horsepower">
              </div>
              <div class="form-group col-md-6">
                <label for="driveType">Drive Type (Chain/Screw/Belt):</label>
                <input type="text" class="form-control" id="driveType" formControlName="driveType">
              </div>
            </div>
          </div>
          <div *ngIf="selectedClaimType === otherClaimTypes.pestControl || selectedClaimType === otherClaimTypes.termiteTreatment">
            <div class="form-row">
              <div class="form-group col-md-6" *ngIf="selectedClaimType === otherClaimTypes.pestControl">
                <label for="pestType">Type of pest:</label>
                <input type="text" class="form-control" id="pestType" formControlName="pestType">
              </div>
              <div class="form-group col-md-6">
                <label for="location">Location of infestation:</label>
                <input type="text" class="form-control" id="location" formControlName="location">
              </div>
            </div>
          </div>
          <div *ngIf="selectedClaimType === otherClaimTypes.rekey">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="numberOfLocks">Number of locks being rekeyed:</label>
                <input type="text" class="form-control" id="numberOfLocks" formControlName="numberOfLocks">
              </div>
              <div class="form-group col-md-6">
                <label for="numberOfKeys">Number of keys being provided:</label>
                <input type="text" class="form-control" id="numberOfKeys" formControlName="numberOfKeys">
              </div>
            </div>
          </div>
          <div *ngIf="selectedClaimType === otherClaimTypes.drywall">
            *Check repair claim to verify that the drywall access made was on undamaged drywall*
          </div>
        </div>
      </div>
      <div class="row border-bottom my-3"></div>
      <app-part-failure [diagnosisForm]="diagnosisForm"></app-part-failure>
      <div class="row border-bottom my-3"></div>
      <app-cost-time-material [diagnosisForm]="diagnosisForm"></app-cost-time-material>
      <div class="row border-bottom my-3"></div>
      <app-cost-flat-rate [diagnosisForm]="diagnosisForm"></app-cost-flat-rate>
      <div class="row border-bottom my-3"></div>
      <app-non-covered-charge [diagnosisForm]="diagnosisForm"></app-non-covered-charge>
      <div class="row border-bottom my-3"></div>
      <app-tcf [diagnosisForm]="diagnosisForm"></app-tcf>
      <div class="row border-bottom my-3"></div>
      <div class="sub-title">
        Additional Comments
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <textarea class="form-control" id="additionalComments" formControlName="additionalComments"></textarea>
        </div>
      </div>
      <button class="btn btn-light text-uppercase" type="submit" [disabled]="!diagnosisForm.valid">Submit Form</button>
    </div>
  </form>
</div>
