@import "../../../../assets/styles/contractor-layout-styles.scss";
.invoice-summary-title {
  color: $hwa-color-orange;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

header {
  font-weight: 300;
  font-size: 1.875rem;
  color: $hwa-color-teal;
  margin-bottom: 1.5625rem;
  margin-top: 0.9375rem;
}

p {
  color: $hwa-color-teal;
}
