<div id="invoices-history-container" class="d-flex flex-column">
  <header>{{ headerText }}</header>
  <app-invoice-search
    (doSearch)="searchInvoices($event)"
  ></app-invoice-search>
  <app-loading-spinner *ngIf="!completion"></app-loading-spinner>
  <ng-container *ngIf="!loading && isData">
    <app-invoice-table
      [invoiceData]="invoices"
      [error]="error"
      [completion]="completion"
    ></app-invoice-table>
  </ng-container>
<!-- 
  <ng-container *ngIf="(!loading && !isData) || error">
    <div>
      <p>{{ noInfoText }}</p>
    </div>
  </ng-container> -->
</div>
