<div class="container-fluid">
  <div class="d-flex flex-row-reverse p-2">
    <div (click)="printForm()">
      <button type="button" class="btn-print">
        <i class="fa fa-print fa-2x" aria-hidden="true"></i>
      </button>
      <span class="label-print">Print Form</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-lg-4 col-sm-12 job-summary-card">
      <app-job-summary-card class="d-block" [headerText]="formLabel" [jobDetail]="jobDetail"></app-job-summary-card>
    </div>
    <div class="col-md-7 col-lg-8 col-sm-12 diagnosis-form" id="content">
      <div *ngIf="formType === 'appliance'">
        <app-form-appliance [formLabel]="formLabel" (submitFormEmitter)="submitForm($event)"></app-form-appliance>
      </div>
      <div *ngIf="formType === 'hvac'">
        <app-form-hvac [formLabel]="formLabel" (submitFormEmitter)="submitForm($event)"></app-form-hvac>
      </div>
      <div *ngIf="formType === 'poolSpaSaltwater'">
        <app-form-pool [formLabel]="formLabel" (submitFormEmitter)="submitForm($event)"></app-form-pool>
      </div>
      <div *ngIf="formType === 'plumbing'">
        <app-form-plumbing [formLabel]="formLabel" (submitFormEmitter)="submitForm($event)"></app-form-plumbing>
      </div>
      <div *ngIf="formType === 'waterHeater'">
        <app-form-water-heater [formLabel]="formLabel" (submitFormEmitter)="submitForm($event)"></app-form-water-heater>
      </div>
      <div *ngIf="formType === 'wellPumpSeptic'">
        <app-form-well-pump-septic [formLabel]="formLabel" (submitFormEmitter)="submitForm($event)"></app-form-well-pump-septic>
      </div>
      <div *ngIf="formType === 'electrical'">
        <app-form-electrical [formLabel]="formLabel" (submitFormEmitter)="submitForm($event)"></app-form-electrical>
      </div>
      <div *ngIf="formType === 'externalSewerWater'">
        <app-form-external [formLabel]="formLabel" (submitFormEmitter)="submitForm($event)"></app-form-external>
      </div>
      <div *ngIf="formType === 'other'">
        <app-form-other [formLabel]="formLabel" (submitFormEmitter)="submitForm($event)"></app-form-other>
      </div>
    </div>
  </div>
  <app-loading-spinner *ngIf="!submissionComplete"></app-loading-spinner>
</div>
