<div class="container-fluid card">
  <div class="title">
    {{ formLabel }}
  </div>
  <div class="diagnosis-form-description">
    Air Conditioning, Heating, Ductwork
  </div>
  <form [formGroup]="diagnosisForm" (ngSubmit)="submitDiagnosisForm()">
    <div class="form-group">
      <app-hvac-current-unit [diagnosisForm]="diagnosisForm"></app-hvac-current-unit>
      <div class="row border-bottom my-3"></div>
      <app-hvac-additional-specs [diagnosisForm]="diagnosisForm"></app-hvac-additional-specs>
      <div class="row border-bottom my-3"></div>
      <app-part-failure [diagnosisForm]="diagnosisForm"></app-part-failure>
      <div class="form-row" formGroupName="partFailureInfo">
        <div class="form-group col">
          <label for="diagnosis-other-explain">Other (explain):</label>
          <input type="text" class="form-control" id="diagnosis-other-explain" formControlName="diagnosisOtherExplain">
        </div>
      </div>
      <div class="row border-bottom my-3"></div>
      <app-cost-time-material [diagnosisForm]="diagnosisForm"></app-cost-time-material>
      <div class="row border-bottom my-3"></div>
      <app-cost-flat-rate [diagnosisForm]="diagnosisForm"></app-cost-flat-rate>
      <div class="row border-bottom my-3"></div>
      <app-non-covered-charge [diagnosisForm]="diagnosisForm"></app-non-covered-charge>
      <div class="row border-bottom my-3"></div>
      <app-tcf [diagnosisForm]="diagnosisForm"></app-tcf>
      <div class="row border-bottom my-3"></div>
      <app-hvac-replacement-only [diagnosisForm]="diagnosisForm"></app-hvac-replacement-only>
      <div class="row border-bottom my-3"></div>
      <div class="sub-title">
        Additional Comments
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <textarea class="form-control" id="additionalComments" formControlName="additionalComments"></textarea>
        </div>
      </div>
      <div class="row border-bottom my-3"></div>
      <button class="btn btn-light text-uppercase" type="submit" [disabled]="!diagnosisForm.valid">Submit Form</button>
    </div>
  </form>
</div>
