<ng-container *ngIf="infoFound">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Claim ID</th>
        <th scope="col">Claim Date</th>
        <th scope="col">Homeowner Name</th>
        <th scope="col">Service Address</th>
        <th scope="col">Invoice No.</th>
        <th scope="col">Invoice Date</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of modifiedInvoice()" class="small">
        <td scope="row">{{ invoice?.claimId }}</td>
        <td scope="row">{{ invoice?.claimDate | date }}</td>
        <td scope="row">{{ invoice?.customerName }}</td>
        <td scope="row">{{ invoice?.serviceAddress }}</td>
        <td scope="row">{{ invoice?.invoiceId }}</td>
        <td scope="row">{{ invoice?.invoiceDate | date }}</td>
        <td scope="row">{{ invoice?.invoiceAmount.amount | currency }}</td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    [pageSize]="pageSize"
    [(page)]="page"
    [collectionSize]="collectionSize"
  ></ngb-pagination>
</ng-container>
<ng-container *ngIf="!infoFound">
  <div class="noInfo">
    <p> {{ noInfoText }}</p>
  </div>

</ng-container>


<div>
  <!-- <select [(ngModel)]="pageSize">
  <option *ngFor="let list of pageList" [ngValue]="list">{{list}} Items per page</option>
</select> -->
</div>
