<div class="container-fluid card">
  <div class="title">
    {{ formLabel }}
  </div>
  <form [formGroup]="diagnosisForm" (ngSubmit)="submitDiagnosisForm()">
    <div class="form-group">

      <div formGroupName="currentUnitInfo">
        <div class="sub-title">
          Current Unit Information
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="unitType">Unit type:</label>
            <select class="form-control" id="unitType" formControlName="unitType">
              <option [ngValue]="null" selected disabled>Select a unit type</option>
              <option *ngFor="let waterHeaterUnitType of keys(waterHeaterUnitTypes)"
                value="{{ waterHeaterUnitTypes[waterHeaterUnitType] }}">
                {{ waterHeaterUnitTypes[waterHeaterUnitType] }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="otherDefinition">If other (define):</label>
            <input type="text" class="form-control" id="otherDefinition" formControlName="otherDefinition">
          </div>
        </div>
        <div class="checkbox-section-header my-2">
          Other specs:
        </div>
        <div class="form-row">
          <div class="form-group form-check col-md-3">
            <input type="checkbox" class="form-check-input" id="isStandard" formControlName="isStandard">
            <label class="form-check-label" for="isStandard">Standard</label>
          </div>
          <div class="form-group form-check col-md-3">
            <input type="checkbox" class="form-check-input" id="isTall" formControlName="isTall">
            <label class="form-check-label" for="isTall">Tall</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group form-check col-md-3">
            <input type="checkbox" class="form-check-input" id="isDirectVent" formControlName="isDirectVent">
            <label class="form-check-label" for="isDirectVent">Direct Vent</label>
          </div>
          <div class="form-group form-check col-md-3">
            <input type="checkbox" class="form-check-input" id="isShortLowboy" formControlName="isShortLowboy">
            <label class="form-check-label" for="isShortLowboy">Short/Lowboy</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group form-check col-md-3">
            <input type="checkbox" class="form-check-input" id="isPowerVent" formControlName="isPowerVent">
            <label class="form-check-label" for="isPowerVent">Power Vent</label>
          </div>
          <div class="form-group form-check col-md-3">
            <input type="checkbox" class="form-check-input" id="isMobileHome" formControlName="isMobileHome">
            <label class="form-check-label" for="isMobileHome">Mobile Home</label>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="form-group form-check col-md-3">
            <input type="checkbox" class="form-check-input" id="isPowerDirectVent" formControlName="isPowerDirectVent">
            <label class="form-check-label" for="isPowerDirectVent">Power Direct Vent</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="gallonSize">Gallon size:</label>
            <select class="form-control" id="gallonSize" formControlName="gallonSize">
              <option [ngValue]="null" selected disabled>Select a size</option>
              <option *ngFor="let waterHeaterSize of keys(waterHeaterSizes)"
                value="{{ waterHeaterSizes[waterHeaterSize] }}">
                {{ waterHeaterSizes[waterHeaterSize] }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="highRecoveryOption">If high recovery:</label>
            <select class="form-control" id="highRecoveryOption" formControlName="highRecoveryOption">
              <option [ngValue]="null" selected disabled>Select an option</option>
              <option *ngFor="let waterHeaterHighRecovery of keys(waterHeaterHighRecoverys)"
                value="{{ waterHeaterHighRecoverys[waterHeaterHighRecovery] }}">
                {{ waterHeaterHighRecoverys[waterHeaterHighRecovery] }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row border-bottom my-3"></div>
      <app-part-failure [diagnosisForm]="diagnosisForm"></app-part-failure>
      <div class="row border-bottom my-3"></div>
      <app-cost-time-material [diagnosisForm]="diagnosisForm"></app-cost-time-material>
      <div class="row border-bottom my-3"></div>
      <app-cost-flat-rate [diagnosisForm]="diagnosisForm"></app-cost-flat-rate>
      <div class="row border-bottom my-3"></div>
      <app-non-covered-charge [diagnosisForm]="diagnosisForm"></app-non-covered-charge>
      <div class="row border-bottom my-3"></div>
      <app-tcf [diagnosisForm]="diagnosisForm"></app-tcf>
      <div class="row border-bottom my-3"></div>
      <app-purchasing [diagnosisForm]="diagnosisForm"></app-purchasing>
      <div class="row border-bottom my-3"></div>
      <div class="sub-title">
        Additional Comments
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <textarea class="form-control" id="additionalComments" formControlName="additionalComments"></textarea>
        </div>
      </div>
      <button class="btn btn-light text-uppercase" type="submit" [disabled]="!diagnosisForm.valid">Submit Form</button>
    </div>
  </form>
</div>
