@import '../../../../assets/styles/contractor-layout-styles.scss';

.service-are-container{
    
    .company-name{
        display: inline;
        // color: rgb(102, 102, 102);
        color: $hwa-color-gray;
        font-size: 1.25rem;
        font-weight: 500;
        font-style: normal;
    }
    .contractor-id{
        font-size: 1.25rem;
        color: $hwa-color-gray;
        float:right;
        label{
            font-weight: 500;
        }
    }
}
.service-area-form{
    margin-left:2.5rem;
    margin-top:0.9375rem;
}
.info-section{
    color:$hwa-color-gray;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;

    .txt-business{
        font-weight: 300;
        font-size: 1.5rem;
        color: $hwa-color-teal;
        padding-top: 0.9375rem;
    }
    .info-items{
        margin-left:2.5rem;
        border-bottom: 0.0625rem solid $hwa-color-light-gray;
        align-items: center;
        padding:1rem 0;
    }
}
