<div id="service-area" class="service-are-container aw-100">
  <div class="info-section">
    <div class="info-items txt-business">Service Areas</div>
    <ng-container *ngIf="!isData && !loading">
      <div class="info-items">
          <p>{{ noInfoText }}</p>
      </div>
    </ng-container>
  </div>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <div class="service-area-form" *ngIf="isData && !loading">
    <div style="margin-bottom:20px">
      <div class="company-name">ABC Plumbing - {{ stateCode }}</div>
      <div class="contractor-id">Contractor ID: <label>{{ partyId }}</label></div>
    </div>
    <app-service-area-search [counties]="counties" [serviceAreasDeatils$]="serviceAreasDeatils$" (emitSearchExecuted)="searchExecuted = $event"></app-service-area-search>
    <app-service-area-table [serviceAreasDeatils$]="serviceAreasDeatils$" [searchExecuted]="searchExecuted"></app-service-area-table>
  </div>

  
