@import '../../../assets/styles/contractor-layout-styles';

.title {
  font-size: 1.5rem;
  color: green;
}

input[type="password"] {
  font-size: small;
}

.glyph-pre {
    display: inline-block;
    margin-right: 7px;
}

.glyph-validation-error {
    color: #dc3545;
}


p {
  color: #dc3545;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding-top:2px !important;
}

/deep/ span {
  color: #dc3545 !important;
  text-decoration: underline!important;
}

.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 2rem;
  }
}
