<div id="reset-password-container">
  <div class="d-flex flex-column">
    <div id="header" class="text-center mb-2">
      <div class="title text-primary">Reset Your Password</div>
    </div>
    <div id="body" class="mt-2">
      <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label for="new-password" class="small"
            >Please enter the new password:</label
          >
          <input
            type="password"
            class="form-control"
            id="new-password"
            name="new-password"
            alt="new password"
            placeholder="new password"
            formControlName="newPassword"
            [ngClass]="{
              'is-invalid': rf.newPassword.errors && rf.newPassword.touched
            }"
          />
          <div
            *ngIf="rf.newPassword.errors && rf.newPassword.touched"
            class="invalid-feedback"
          >
            <div *ngIf="rf.newPassword.errors.required">
              A new password is required
            </div>
            <div>
              <p *ngIf="passwordContainSpace()">
               <i class="fa fa-close glyph-pre glyph-validation-error"></i>Your password shouldn't contain space
              </p>
            </div>
            <div>
            <p *ngIf="rf.newPassword.errors.pattern">
              <i class="fa fa-close glyph-pre glyph-validation-error"></i>Your password doesn't match the rules below yet
              <ng-password-helper class="password-helper"></ng-password-helper>
            </p>
            </div>
          </div>
        </div>



        <div class="form-group">
          <label for="confirm-password" class="small"
            >Please confirm the password:</label
          >
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            alt="new password"
            name="confirm-password"
            placeholder="confirm password"
            formControlName="confirmPassword"
            [ngClass]="{
              'is-invalid':
                rf.confirmPassword.errors && rf.confirmPassword.touched
            }"
          />
          <div
            *ngIf="rf.confirmPassword.errors && rf.confirmPassword.touched"
            class="invalid-feedback"
          >
            <div *ngIf="rf.confirmPassword.errors.required">
              confirm password is required
            </div>
            <div *ngIf="rf.confirmPassword.errors.mustMatch">
              confirm password must match your new password
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button
            type="submit"
            class="btn btn-submit-large mt-2"
            [disabled]="!resetForm.valid"
          >
            Reset Password
          </button>
          <div class="text-center small mt-2">
            <a routerLink="/auth/login">Go back to login</a>
          </div>
        </div>
        <ng-container *ngIf="showErrorMsg">
          <div class="alert alert-danger">
            <div>
              {{ errorMsg }}
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="showSuccessMsg">
          <div class="alert alert-success">
            <div>
              {{ successMsg }}
            </div>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</div>
