<div id="footer-container" class="d-flex flex-column">
  <app-footer-links></app-footer-links>
  <div class="message">
    <div class="d-flex justify-content-center social-media-links mt-5">
      <a [href]="socialMediaLinks.twitter" target="_blank"
        ><i class="fa fa-lg fa-2x fa-twitter" aria-hidden="true"></i
      ></a>
      <a [href]="socialMediaLinks.youtube" target="_blank"
        ><i class="fa fa-lg fa-2x fa-youtube ml-4" aria-hidden="true"></i
      ></a>
      <a [href]="socialMediaLinks.facebook" target="_blank"
        ><i class="fa fa-lg fa-2x fa-facebook-f ml-4" aria-hidden="true"></i
      ></a>
      <a [href]="socialMediaLinks.linkedin" target="_blank"
        ><i class="fa fa-lg fa-2x fa-linkedin ml-4" aria-hidden="true"></i
      ></a>
    </div>
    <div class="mt-4 copyright-content text-center">
      <span class="text-muted">
        <i class="fa fa-copyright" aria-hidden="true"></i>{{ footerMessage }}
      </span>
      <div class="col-12 legal-terms">
        <span class="privacy-policy-link text-muted"
          >View
          <a
            [href]="privacyPolicyUrl"
            target="_blank"
            class="legal-terms-link"
            >Privacy Policy</a
          ></span
        >
        <span class="policy-link-separator">&bull;</span>
        <span class="terms-link text-muted"
          >View
          <a [href]="termsOfUseUrl" target="_blank" class="legal-terms-link"
            >Terms of Use</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
