<div id="footer-container" class="d-flex flex-column">
  <app-footer-links></app-footer-links>
  <div>
    <div class="d-flex justify-content-center social-media-links mt-5">
      <a [href]="socialMediaLinks.twitter" target="_blank"><i class="fa fa-lg fa-2x fa-twitter"
          aria-hidden="true"></i></a>
      <a [href]="socialMediaLinks.youtube" target="_blank"><i class="fa fa-lg fa-2x fa-youtube ml-4"
          aria-hidden="true"></i></a>
      <a [href]="socialMediaLinks.facebook" target="_blank"><i class="fa fa-lg fa-2x fa-facebook-f ml-4"
          aria-hidden="true"></i></a>
      <a [href]="socialMediaLinks.linkedin" target="_blank"><i class="fa fa-lg fa-2x fa-linkedin ml-4"
          aria-hidden="true"></i></a>
    </div>
    <div class="mt-4 copyright-content text-center">
      <p><i class="fa fa-copyright" aria-hidden="true"></i>2019 HOME WARRANTY OF AMERICA, Inc. Home Warranty
        Information: HWA offers comphrehensive home warranty plans at a great value with easy, reliable solutions for
        unexpected problems. An HWA Home Warranty protects you from the expenses of repairs or replacements of major
        mechanical systems and appliances that break down due to normal wear and tear during the coverage term.</p>
    </div>
  </div>
</div>
