<div id="footer-container" class="d-flex flex-column border-top mt-5">
  <div class="message">
    <div class="mt-4 copyright-content text-center">
      <span class="text-muted">
        <i class="fa fa-copyright" aria-hidden="true"></i>{{ footerMessage }}
      </span>
      <div class="col-12 legal-terms">
        <span class="privacy-policy-link text-muted"
          >View
          <a [href]="privacyPolicyUrl" target="_blank" class="legal-terms-link"
            >Privacy Policy</a
          ></span
        >
        <span class="policy-link-separator">&bull;</span>
        <span class="terms-link text-muted"
          >View
          <a [href]="termsOfUseUrl" target="_blank" class="legal-terms-link"
            >Terms of Use</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
