.social-media-links {
  a {
    padding-left: 0.4rem;
  }
  i {
    color: #adb5bd;
  }
}

.message {
  padding-bottom: 7rem;
}

.copyright-content {
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 300;
}
