<div class="container-fluid card">
  <div class="title">
    {{ formLabel }}
  </div>
  <div class="diagnosis-form-description">
    Refrigerator, Dishwasher, Range/Oven/Cooktop, Microwave, Washer, Dryer, Stand Alone Freezer, Trash Compactor, Central Vacuum, Vent Hood.
  </div>
  <form [formGroup]="diagnosisForm" (ngSubmit)="submitDiagnosisForm()">
    <div class="form-group">
      <div class="sub-title">
        Current Unit Specs
      </div>
      <app-appliance-current-unit [diagnosisForm]="diagnosisForm"></app-appliance-current-unit>
      <div class="row border-bottom my-3"></div>
      <div class="sub-title">
        Type of Appliance
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <select class="form-control" id="applianceType" formControlName="applianceType" (change)="selectApplianceType($event.target.value)">
            <option [ngValue]="null" selected disabled>Select an appliance</option>
            <option *ngFor="let applianceType of keys(applianceTypes)"
              value="{{ applianceTypes[applianceType] }}">
              {{ applianceTypes[applianceType] }}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="selectedApplianceType === applianceTypes.refrigerator">
        <app-appliance-refrigerator [diagnosisForm]="diagnosisForm"></app-appliance-refrigerator>
      </div>
      <div *ngIf="selectedApplianceType === applianceTypes.dishwasher">
        <app-appliance-dishwasher [diagnosisForm]="diagnosisForm"></app-appliance-dishwasher>
      </div>
      <div *ngIf="selectedApplianceType === applianceTypes.range">
        <app-appliance-range [diagnosisForm]="diagnosisForm"></app-appliance-range>
      </div>
      <div *ngIf="selectedApplianceType === applianceTypes.wallOven">
        <app-appliance-wall-oven [diagnosisForm]="diagnosisForm"></app-appliance-wall-oven>
      </div>
      <div *ngIf="selectedApplianceType === applianceTypes.cooktop">
        <app-appliance-cooktop [diagnosisForm]="diagnosisForm"></app-appliance-cooktop>
      </div>
      <div *ngIf="selectedApplianceType === applianceTypes.washer">
        <app-appliance-washer [diagnosisForm]="diagnosisForm"></app-appliance-washer>
      </div>
      <div *ngIf="selectedApplianceType === applianceTypes.dryer">
        <app-appliance-dryer [diagnosisForm]="diagnosisForm"></app-appliance-dryer>
      </div>
      <div *ngIf="selectedApplianceType === applianceTypes.microwave">
        <app-appliance-microwave [diagnosisForm]="diagnosisForm"></app-appliance-microwave>
      </div>
      <div *ngIf="selectedApplianceType === applianceTypes.ventHood">
        <app-appliance-vent-hood [diagnosisForm]="diagnosisForm"></app-appliance-vent-hood>
      </div>
      <div *ngIf="selectedApplianceType === applianceTypes.other">
        <app-appliance-other [diagnosisForm]="diagnosisForm"></app-appliance-other>
      </div>
      <div class="row border-bottom my-3"></div>
      <app-part-failure [diagnosisForm]="diagnosisForm"></app-part-failure>
      <div class="row border-bottom my-3"></div>
      <app-cost-time-material [diagnosisForm]="diagnosisForm"></app-cost-time-material>
      <div class="row border-bottom my-3"></div>
      <app-cost-flat-rate [diagnosisForm]="diagnosisForm"></app-cost-flat-rate>
      <div class="row border-bottom my-3"></div>
      <app-non-covered-charge [diagnosisForm]="diagnosisForm"></app-non-covered-charge>
      <div class="row border-bottom my-3"></div>
      <app-tcf [diagnosisForm]="diagnosisForm"></app-tcf>
      <div class="row border-bottom my-3"></div>
      <app-purchasing [diagnosisForm]="diagnosisForm"></app-purchasing>
      <div class="row border-bottom my-3"></div>
      <app-additional-comments [diagnosisForm]="diagnosisForm"></app-additional-comments>
      <div class="row border-bottom my-3"></div>
      <button class="btn btn-light text-uppercase" type="submit" [disabled]="isSubmitDisabled()">Submit Form</button>
    </div>
  </form>
</div>
