@import "../../../assets/styles/contractor-layout-styles.scss";
#navbarNav {
  background-color: $hwa-color-light-gray;
}
.navbar-collapse {

  .nav-pills {
    @media only screen and (max-width: 768px) {
      flex-direction: column !important;
    }
    .nav-link {
      color: $hwa-color-teal !important;
      font-family: Roboto;
      font-size: 1rem;
      margin-right: 0.625rem;
      text-decoration: none;
      &:hover {
        background-color: $color-poppy;
        border-radius: 0;
        color: $white !important;
        font-weight: 600;
      }
      &.active {
        background-color: $color-poppy;
        border-radius: 0;
        font-weight: 600;
        color: $white !important;
      }
    }
  }
}
