<ng-container [formGroup]="diagnosisForm">
  <ng-container formGroupName="additionalSpecsInfo">
    <div class="sub-title">
      Additional Specs required by Type
    </div>
    <div class="diagnosis-form-description">
      (Nothing needed for Ductwork)
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="additionalSpecsType">HVAC Type:</label>
        <select class="form-control" id="additionalSpecsType" formControlName="hvacType" (change)="selectType($event.target.value)">
          <option [ngValue]="null" selected disabled>Select an HVAC Type</option>
          <option *ngFor="let additionalSpecsType of keys(additionalSpecsTypes)"
            value="{{ additionalSpecsType }}">
            {{ additionalSpecsTypes[additionalSpecsType] }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row" *ngIf="selectedHvacType && selectedHvacType !== 'furnace'">
      <div class="form-group col-md-6">
        <label for="r22R410aOther">r22/ r410a/ other:</label>
        <input class="form-control" id="r22R410aOther" formControlName="r22R410aOther">
      </div>
    </div>
    <div class="form-row" *ngIf="selectedHvacType === 'straightAC' || selectedHvacType === 'heatPump'">
      <div class="form-group col-md-6">
        <label for="insideEquipment">Inside equipment coil/ airhandler/ other:</label>
        <input class="form-control" id="insideEquipment" formControlName="insideEquipment">
      </div>
    </div>
    <div class="form-row" *ngIf="selectedHvacType === 'gasPack' || selectedHvacType === 'furnace'">
      <div class="form-group col-md-6">
        <label for="btu">BTU:</label>
        <input class="form-control" id="btu" formControlName="btu">
      </div>
    </div>
    <div class="form-row" *ngIf="selectedHvacType === 'packagedHeatPump'">
      <div class="form-group col-md-6">
        <label for="heatStripsKW">Heat Strips KW :</label>
        <input class="form-control" id="heatStripsKW" formControlName="heatStripsKW">
      </div>
    </div>
  </ng-container>
</ng-container>

