<div class="container-fluid card">
  <div class="title">
    {{ formLabel }}
  </div>
  <form [formGroup]="diagnosisForm" (ngSubmit)="submitDiagnosisForm()">
    <div class="form-group">
      <div class="sub-title">
        Claim Type and Specs
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <select class="form-control" id="claimType" formControlName="claimType" (change)="selectClaimType($event.target.value)">
            <option [ngValue]="null" selected disabled>Select a claim type</option>
            <option *ngFor="let externalClaimType of keys(externalClaimTypes)"
              value="{{ externalClaimTypes[externalClaimType] }}">
              {{ externalClaimTypes[externalClaimType] }}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="selectedClaimType">
        <div formGroupName="claimTypeInfo">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="pipeType">What type of pipe:</label>
              <input type="text" class="form-control" id="pipeType" formControlName="pipeType">
            </div>
            <div class="form-group col-md-6">
              <label for="lineAge">How old is line (approximately):</label>
              <input type="text" class="form-control" id="lineAge" formControlName="lineAge">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-inline ml-1">
              <div class="option-group-label">
                Main line?
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="isMainLine" formControlName="isMainLine" id="isMainLineYes" value="Yes">
                <label class="custom-control-label" for="isMainLineYes">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="isMainLine" formControlName="isMainLine" id="isMainLineNo" value="No">
                <label class="custom-control-label" for="isMainLineNo">No</label>
              </div>
            </div>
          </div>
          <div *ngIf="selectedClaimType === externalClaimTypes.sewerLine">
            <div class="form-row">
              <div class="form-group form-inline ml-1">
                <div class="option-group-label">
                  Rodding?
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="isRodding" formControlName="isRodding" id="isRoddingYes" value="Yes">
                  <label class="custom-control-label" for="isRoddingYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="isRodding" formControlName="isRodding" id="isRoddingNo" value="No">
                  <label class="custom-control-label" for="isRoddingNo">No</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group form-inline ml-3">
                <div class="option-group-label">
                  Did it work?
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="didRoddingWork" formControlName="didRoddingWork" id="didRoddingWorkYes" value="Yes">
                  <label class="custom-control-label" for="didRoddingWorkYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="didRoddingWork" formControlName="didRoddingWork" id="didRoddingWorkNo" value="No">
                  <label class="custom-control-label" for="didRoddingWorkNo">No</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group form-inline ml-1">
                <div class="option-group-label">
                  Hydro-Jet?
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="isHydroJet" formControlName="isHydroJet" id="isHydroJetYes" value="Yes">
                  <label class="custom-control-label" for="isHydroJetYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="isHydroJet" formControlName="isHydroJet" id="isHydroJetNo" value="No">
                  <label class="custom-control-label" for="isHydroJetNo">No</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group form-inline ml-3">
                <div class="option-group-label">
                  Did it work?
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="didHydroJetWork" formControlName="didHydroJetWork" id="didHydroJetWorkYes" value="Yes">
                  <label class="custom-control-label" for="didHydroJetWorkYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="didHydroJetWork" formControlName="didHydroJetWork" id="didHydroJetWorkNo" value="No">
                  <label class="custom-control-label" for="didHydroJetWorkNo">No</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group form-inline ml-1">
                <div class="option-group-label">
                  Camera?
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="isCamera" formControlName="isCamera" id="isCameraYes" value="Yes">
                  <label class="custom-control-label" for="isCameraYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="isCamera" formControlName="isCamera" id="isCameraNo" value="No">
                  <label class="custom-control-label" for="isCameraNo">No</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group form-inline ml-3">
                <div class="option-group-label">
                  Determine cause of failure?
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="didCameraWork" formControlName="didCameraWork" id="didCameraWorkYes" value="Yes">
                  <label class="custom-control-label" for="didCameraWorkYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="didCameraWork" formControlName="didCameraWork" id="didCameraWorkNo" value="No">
                  <label class="custom-control-label" for="didCameraWorkNo">No</label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="selectedClaimType === externalClaimTypes.waterLine">
            <div class="form-row">
              <div class="form-group form-inline ml-1">
                <div class="option-group-label">
                  Leak test?
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="didLeakTest" formControlName="didLeakTest" id="didLeakTestYes" value="Yes">
                  <label class="custom-control-label" for="didLeakTestYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="didLeakTest" formControlName="didLeakTest" id="didLeakTestNo" value="No">
                  <label class="custom-control-label" for="didLeakTestNo">No</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group form-inline ml-3">
                <div class="option-group-label">
                  Was leak located?
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="isLeakLocated" formControlName="isLeakLocated" id="isLeakLocatedYes" value="Yes">
                  <label class="custom-control-label" for="isLeakLocatedYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="isLeakLocated" formControlName="isLeakLocated" id="isLeakLocatedNo" value="No">
                  <label class="custom-control-label" for="isLeakLocatedNo">No</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 ml-3">
                <label for="pipeType">Where is leak located?</label>
                <input type="text" class="form-control" id="leakLocation" formControlName="leakLocation">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-inline ml-1">
              <div class="option-group-label">
                Excavation?
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="isExcavation" formControlName="isExcavation" id="isExcavationYes" value="Yes">
                <label class="custom-control-label" for="isExcavationYes">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="isExcavation" formControlName="isExcavation" id="isExcavationNo" value="No">
                <label class="custom-control-label" for="isExcavationNo">No</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-inline ml-3">
              <div class="option-group-label">
                Private or public dirt?
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="excPrivateOrPublicDirt" formControlName="excPrivateOrPublicDirt" id="excPrivateOrPublicDirtYes" value="Yes">
                <label class="custom-control-label" for="excPrivateOrPublicDirtYes">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="excPrivateOrPublicDirt" formControlName="excPrivateOrPublicDirt" id="excPrivateOrPublicDirtNo" value="No">
                <label class="custom-control-label" for="excPrivateOrPublicDirtNo">No</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-inline ml-3">
              <div class="option-group-label">
                Private driveway, sidewalk, or concrete?
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="excPrivateDriveway" formControlName="excPrivateDriveway" id="excPrivateDrivewayYes" value="Yes">
                <label class="custom-control-label" for="excPrivateDrivewayYes">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="excPrivateDriveway" formControlName="excPrivateDriveway" id="excPrivateDrivewayNo" value="No">
                <label class="custom-control-label" for="excPrivateDrivewayNo">No</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-inline ml-3">
              <div class="option-group-label">
                Public street or sidewalk?
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="excPublicStreet" formControlName="excPublicStreet" id="excPublicStreetYes" value="Yes">
                <label class="custom-control-label" for="excPublicStreetYes">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="excPublicStreet" formControlName="excPublicStreet" id="excPublicStreetNo" value="No">
                <label class="custom-control-label" for="excPublicStreetNo">No</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="pipeType">Obstacles (e.g. trees, bushes, deck, fence) List:</label>
              <input type="text" class="form-control" id="obstacles" formControlName="obstacles">
            </div>
          </div>
        </div>
      </div>
      <div class="row border-bottom my-3"></div>
      <app-part-failure [diagnosisForm]="diagnosisForm"></app-part-failure>
      <div class="row border-bottom my-3"></div>
      <div class="sub-title">
        Cost - Time & Material
      </div>
      <div class="component-sub-header">
        Diagnosis Cost
      </div>
      <div formGroupName="costTimeMaterialInfo">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="leakTest">Leak test (external water):</label>
            <input currencyMask type="text" class="form-control" id="leakTest" formControlName="leakTest">
          </div>
          <div class="form-group col-md-6">
            <label for="rodding">Rodding (external sewer):</label>
            <input currencyMask type="text" class="form-control" id="rodding" formControlName="rodding">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="hydrojet">Hydrojet (external sewer):</label>
            <input currencyMask type="text" class="form-control" id="hydrojet" formControlName="hydrojet">
          </div>
          <div class="form-group col-md-6">
            <label for="camera">Camera (external sewer):</label>
            <input currencyMask type="text" class="form-control" id="camera" formControlName="camera">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 align-self-end">
            <label for="dirtLaborMaterials">Labor and materials for excavation/restoration of dirt:</label>
            <input currencyMask type="text" class="form-control" id="dirtLaborMaterials" formControlName="dirtLaborMaterials">
          </div>
          <div class="form-group col-md-6">
            <label for="publicLaborMaterials">Labor and materials for excavation/restoration of public sidewalk or street(deluxe only):</label>
            <input currencyMask type="text" class="form-control" id="publicLaborMaterials" formControlName="publicLaborMaterials">
          </div>
        </div>
        <div class="form-row row-total align-items-center">
          <div class="label-total col-md-6">
            Diagnosis and Excavation Subtotal:
          </div>
          <div class="col-md-6">
            <input currencyMask type="text" class="form-control" id="diagnosisSubtotal" formControlName="diagnosisSubtotal">
          </div>
        </div>
        <div class="component-sub-header">
          Repair Cost
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="spotRepairLaborMaterials">Labor and materials for spot repair:</label>
            <input currencyMask type="text" class="form-control" id="spotRepairLaborMaterials" formControlName="spotRepairLaborMaterials">
          </div>
          <div class="form-group col-md-6">
            <label for="landscapingLaborMaterials">Labor and materials for restoration of landscaping:</label>
            <input currencyMask type="text" class="form-control" id="landscapingLaborMaterials" formControlName="landscapingLaborMaterials">
          </div>
        </div>
        <div class="form-row row-total align-items-center">
          <div class="label-total col-md-6">
            Tax ($):
          </div>
          <div class="col-md-6">
            <input currencyMask type="text" class="form-control" id="tax" formControlName="tax">
          </div>
        </div>
        <div class="form-row row-total align-items-center">
          <div class="label-total col-md-6">
            Total Excavation and Repair:
          </div>
          <div class="col-md-6">
            <input currencyMask type="text" class="form-control" id="total" formControlName="total">
          </div>
        </div>
      </div>
      <div class="row border-bottom my-3"></div>
      <app-non-covered-charge [diagnosisForm]="diagnosisForm"></app-non-covered-charge>
      <div class="row border-bottom my-3"></div>
      <app-tcf [diagnosisForm]="diagnosisForm"></app-tcf>
      <div class="row border-bottom my-3"></div>
      <app-additional-comments [diagnosisForm]="diagnosisForm"></app-additional-comments>
      <div class="row border-bottom my-3"></div>
      <button class="btn btn-light text-uppercase" type="submit" [disabled]="isSubmitDisabled()">Submit Form</button>
    </div>
  </form>
</div>
