<div id="invoice-search-box-container" class="w-100 text-center">
  <form [formGroup]="searchForm" (ngSubmit)="search(searchForm)">
    <div class="d-flex flex-column flex-md-row w-70">
      <div class="form-group">
        <div class="input-group">
            <input type="text" id="by-start-date" ngbDatepicker #startDate="ngbDatepicker" name="by-start-date" class="form-control" placeholder="By Start Date"
          formControlName="startDate" (click)="startDate.toggle()"/>
          <button class="btn datepicker" (click)="startDate.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input type="text" id="by-end-date"  ngbDatepicker #endDate="ngbDatepicker" name="by-end-date" class="form-control" placeholder="By End Date"
            formControlName="endDate" (click)="endDate.toggle()" />
            <button class="btn datepicker"  (click)="endDate.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="form-group">
        <input type="text" id="by-invoice-address" name="by-invoice-address" class="form-control"
          placeholder="By Address" formControlName="address" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-secondary">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div>
