@import '../../../assets/styles/contractor-layout-styles';

.phone {
  color: theme-color('primary');
  text-decoration: underline;
}

.footer-label {
  font-size: 0.8rem;
  font-weight: 500;
}

.description {
  font-size: 1.2rem;
  line-height: 2.5rem !important;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 2rem;
  }
}
