<div class="sub-title">
  TCF Amount
</div>
<div [formGroup]="diagnosisForm">
  <div formGroupName="tcfInfo">
    <div class="form-row">
      <div class="form-group form-inline ml-1">
        <div class="option-group-label">
          Is TCF Due?
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" name="isTCFDue" formControlName="isTCFDue" id="isTCFDueYes" value="Yes">
          <label class="custom-control-label" for="isTCFDueYes">Yes</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" name="isTCFDue" formControlName="isTCFDue" id="isTCFDueNo" value="No">
          <label class="custom-control-label" for="isTCFDueNo">No</label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group form-inline ml-1">
        <div class="option-group-label">
          Was TCF Collected?
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" name="isTCFCollected" formControlName="isTCFCollected" id="isTCFCollectedYes" value="Yes">
          <label class="custom-control-label" for="isTCFCollectedYes">Yes</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" name="isTCFCollected" formControlName="isTCFCollected" id="isTCFCollectedNo" value="No">
          <label class="custom-control-label" for="isTCFCollectedNo">No</label>
        </div>
      </div>
    </div>
  </div>
</div>
