@import "../../../../../assets/styles/contractor-layout-styles.scss";

header {
  text-align: center;
  .header-text {
    font-size: 1.4rem;
  }
  .calendar-info {
      font-weight: 700;
      font-size: 1.25rem;
      color: $hwa-color-gray;
  }
  .emergency-call {
    color: $color-poppy;
    font-size: 0.8 rem;
  }
}
