<div class="sub-title">
  Non-covered Charges
</div>
<div [formGroup]="diagnosisForm">
  <div formGroupName="nonCoveredChargeInfo">
    <div formArrayName="items">
      <div *ngFor="let item of items.controls; let i = index">
        <div [formGroupName]="i">
          <div class="row border-bottom my-2" *ngIf="i !== 0"></div>
          <div class="d-flex flex-row-reverse" *ngIf="i !== 0">
            <div (click)="removeItem(i)">
              <button type="button" class="btn-remove-item">
                <i class="fa fa-window-close fa-2x" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="item">Item:</label>
              <input type="text" class="form-control" id="item" formControlName="item">
            </div>
            <div class="form-group col-md-4">
              <label for="reasonNotCovered">Reason for not covered:</label>
              <input type="text" class="form-control" id="reasonNotCovered" formControlName="reasonNotCovered">
            </div>
            <div class="form-group col-md-4">
              <label for="cost">Cost:</label>
              <input currencyMask type="text" class="form-control" id="cost" formControlName="cost">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-another" (click)="addItem()">
      <button type="button" class="btn-add-another">
        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
      </button>
      <span class="label-add-another">Add another part</span>
    </div>
    <div class="form-row row-total align-items-center">
      <div class="label-total col-md-6">
          TOTAL
      </div>
      <div class="col-md-6">
        <input currencyMask type="text" class="form-control" id="total" formControlName="total">
      </div>
    </div>
  </div>
</div>
