<h1 class="header-txt py-4">Changes to Claims Servicing</h1>

<p class="title">We are transitioning our claims servicing to AIG</p>

<p>As you're aware, we have recently entered into an agreement with AIG, and beginning October 22, 2021, AIG will be responsible for processing the majority of the service requests under HWA-branded plans. You may still receive sporadic work requests from HWA as we complete the transition.</p>

<p class="title">Submitting Invoices</p>

<p><strong>For claims opened prior to October 22, 2021, please submit all invoices within 30 days of completing the work.</strong> We strongly encourage you to submit your invoices as soon as possible to ensure you're paid in a timely manner.</p>

<p class="title">Diagnosis Submissions</p>

<p><strong>As of November 22, 2021, you will no longer be able to submit diagnosis forms electronically, and the forms will no longer be available online.</strong> To submit a diagnosis, please call (888) 492-7359 and select option 3.</p>

<p class="title">Supply changes<p>

<p><strong>As of October 1, 2021, we will no longer be supplying parts and equipment and will cease using the Motili Direct Supply platform.</strong> Contractors will be responsible for ordering any parts or equipment required to service a claim.</p>

<p class="title">In light of this change in procedure:</p>
<ul>
<li>When providing a diagnosis, please include the cost to supply any parts or equipment.</li>
<li>If you’re unable to supply the necessary parts and equipment, you will still be required to provide a full diagnosis and pricing breakdown.</li>
</ul>

<p class="title">Discontinuing the Use of Dispatch.me</p>
<p><strong>As of October 3, 2021, we will no longer use the Dispatch platform.</strong> Please use our contractor portal to self-authorize or invoice any new or in-flight claims. If you need assistance, call the Authorizations Team at (888) 492-7359 and select option 3.</p>

<p class="title">Contacting Our Team</p>
<p>As part of our transition, beginning on October 22, 2021, the following email boxes will no longer be monitored:
<ul>
<li> replacements@hwahomewarranty.com</li>
<li>autho_tech@hwahomewarranty.com</li>
<li>authohelp@hwahomewarranty.com</li>
<li>crdocs@centrica.com</li>
<li>acctmgr@nrg.com</li>
<li>Invoices1@nrg.com</li>
</ul>
<p>Please contact your territory manager with all questions or concerns.</p>

<p class="title">Additional Opportunities</p>

<p>AIG may need your expertise and experience to service claims on HWA-branded plans. If you are interested in continuing to service the HWA customer base as an independent service provider for AIG, please reach out to the AIG team at <a href="mailto:warranty_recruitment@aig.com">warranty_recruitment@aig.com</a>.</p>

<p>Here are some potential advantages to working with AIG:</p>

<ul><li>AIG uses the Service Power Application, which makes it easy to update claim statuses and bill out for completed jobs</li>
<li>AIG call agents handle the appointment booking for service providers during the claims filing process</li>
<li>In many cases, Trade Call Fees are collected by AIG agents during the claims filing process so you will no longer have to collect it from those customers</li>
</ul>


<p>If you are an existing AIG preferred provider or have already submitted your application, you need take no further action at this time.</p>

<p>Thank you for your support in serving our customers.</p>
