@import "../../../../assets/styles/contractor-layout-styles";
header {
    font-weight: 300;
    font-size: 1.875rem;
    color: $hwa-color-teal;
    margin-bottom: 1.5625rem;
    margin-top: 0.9375rem;
}

p {
    color: $hwa-color-teal;
}

/* No payments message spacing */
.no-payments-msg {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

