<app-loading-spinner *ngIf="!isCompleted" [message]="loadingMsg"></app-loading-spinner>
<ng-container *ngIf="isCompleted && claimsFound">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" appSortable="jobNumber" (sort)="onSort($event, modifiedClaims())">Job ID</th>
        <th scope="col" appSortable="dateRequested" (sort)="onSort($event, modifiedClaims())">Date Assigned</th>
        <th scope="col" appSortable="claimType" (sort)="onSort($event, modifiedClaims())">Claim Order Type</th>
        <th scope="col" appSortable="claimDisposition" (sort)="onSort($event, modifiedClaims())">Claim Disposition</th>
        <th scope="col" appSortable="customerName" (sort)="onSort($event, modifiedClaims())">Name</th>
        <th scope="col" appSortable="jobStatus" (sort)="onSort($event, modifiedClaims())">Job Status</th>
        <th scope="col" appSortable="serviceAddress" (sort)="onSort($event, modifiedClaims())">Service Address</th>
        <th scope="col" appSortable="customerContactPhone" (sort)="onSort($event, modifiedClaims())">Best Contact Number
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of modifiedClaims()" class="small">
        <td scope="row">{{ claim.jobNumber }}</td>
        <td scope="row">{{ claim.dateAssigned | date }}</td>
        <td>{{ claim.claimType }}</td>
        <td>{{ claim.claimDisposition }}</td>
        <td>{{ claim.customerName }}</td>
        <td>{{ claim.jobStatus }}</td>
        <td>{{ claim.serviceAddress }}</td>
        <td>{{ claim.customerContactPhone | formatphone }}</td>
        <td><a class="text-uppercase diagnosis" (click)="authorizeInvoice(claim.jobNumber, claim.jobStatus, claim.vendorId)">
            {{ authorizeLinkText(claim.jobStatus) }}
          </a>
          <span *ngIf="claim.jobStatus === JobStatus.wip">
            |
            <span class="text-uppercase diagnosis" [ngClass]="{'disabled': isDiagnosisFormEnabled() === false}"
              (click)="diagnoseJob()">
              {{ LinkText.diagnosis }}
            </span>
          </span>

        </td>
        <td class="revenue-maintenance-indicator"> {{ showRevenueAndMaintenaceIndicators(claim) }}</td>
        <td>
          <app-loading-spinner [ngClass]="{'show-spinner': loading && isAuthorizing(claim.jobNumber, claim.jobStatus)}"
            [addPadding]=false *ngIf="loading && isAuthorizing(claim.jobNumber, claim.jobStatus)">
          </app-loading-spinner>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <ngb-pagination [pageSize]="pageSize" [(page)]="page" [collectionSize]="collectionSize" [maxSize]="10">
    </ngb-pagination>
  </div>
</ng-container>
<ng-container *ngIf="isCompleted && !claimsFound || isError">
  <div>

    <p class="no-info-text">{{ noInfoText }} </p>
  </div>
</ng-container>
