<app-loading-spinner *ngIf="!isCompleted"></app-loading-spinner>
<ng-container *ngIf="isCompleted && claimsFound">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" appSortable="jobNumber" (sort)="onSort($event)">Job ID</th>
        <th scope="col" appSortable="dateRequested" (sort)="onSort($event)">Date</th>
        <th scope="col" appSortable="claimType" (sort)="onSort($event)">Claim Order Type</th>
        <th scope="col" appSortable="claimDisposition" (sort)="onSort($event)">Claim Disposition</th>
        <th scope="col" appSortable="customerName" (sort)="onSort($event)">Name</th>
        <th scope="col" appSortable="jobStatus" (sort)="onSort($event)">Job Status</th>
        <th scope="col" appSortable="serviceAddress" (sort)="onSort($event)">Service Address</th>
        <th scope="col" appSortable="customerContactPhone" (sort)="onSort($event)">Best Contact Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of modifiedClaims()" class="small">
        <td scope="row">{{ claim.jobNumber }}</td>
        <td scope="row">{{ claim.dateRequested | date }}</td>
        <td>{{ claim.claimType }}</td>
        <td>{{ claim.claimDisposition }}</td>
        <td>{{ claim.customerName }}</td>
        <td>{{ claim.jobStatus }}</td>
        <td>{{ claim.serviceAddress }}</td>
        <td>{{ claim.customerContactPhone }}</td>
        <td>
          <a
            class="text-uppercase"
            (click)="authorizeInvoice(claim.jobNumber)"
            >{{ authorizeLinkText(claim.jobStatus) }}</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <ngb-pagination
      [pageSize]="pageSize"
      [(page)]="page"
      [collectionSize]="collectionSize" [maxSize]="10">
    </ngb-pagination>
  </div>
</ng-container>
<ng-container *ngIf="isCompleted && !claimsFound || isError">
  <div>
    <p>{{ noInfoText }} </p>
  </div>
</ng-container>
