@import "../../../../../assets/styles/contractor-layout-styles.scss";

select {
  padding: 1rem;
  border: solid #00849b 0.1rem;
}
a {
  color: #f05d21 !important;
  &:hover {
    cursor: pointer;
    text-decoration: underline !important;
  }
}
