@import '../../../../../assets/styles/contractor-layout-styles.scss';

th {
  color: $hwa-color-teal;
  text-align: left;
}

.modal-body {
  padding: 0rem 1rem;
}

.btn {
  background-color: $color-poppy !important;
  border-color: $color-poppy !important;
}

td {
  text-align: left;
}

.no-history {
  font-weight: bold;
}

.export {
  margin-bottom: 10px;
}