@import '../../../../../assets/styles/contractor-layout-styles.scss';

th {
    color: $hwa-color-teal;
}

.btn { 
    background-color: $hwa-color-teal !important;
    border-color:  $hwa-color-teal !important;
}