<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Payment Date</th>
      <th scope="col">Reference ID</th>
      <th scope="col">Payment Type</th>
      <th scope="col">Payment Amount</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of modifiedPaymentHistory()">
      <td scope="row">{{ payment.paymentDate | date }}</td>
      <td scope="row">{{ payment.paymentReferenceNo }}</td>
      <td scope="row">{{ payment.paymentMethod }}</td>
      <td scope="row">{{ payment.paymentAmount.amount | formatmoney }}</td> 
      <td scope="row">
        <button (click)="viewInvoice(payment)" class="btn">
          View Invoices
        </button>
      </td>
     
    </tr>
  </tbody>
</table>
<ngb-pagination
  [pageSize]="pageSize"
  [(page)]="page"
  [collectionSize]="collectionSize"
  [maxSize]="10">
</ngb-pagination>
