$white: #fff;
// Bootstrap overrides

// Color Definitions
$hwa-color-orange: #f05d21;
$hwa-color-pelorous: #17a2b8;
$hwa-color-teal: #00849b;
$hwa-color-teal-dark: #005260;
$hwa-color-gray: #666;
$hwa-color-light-gray: #f7f7f7;
$hwa-color-dark-gray: #dee2e6;

$primary: $hwa-color-teal;
$secondary: $hwa-color-orange;
$bg-color: $white;
$body-color: $hwa-color-gray;

.btn,
.btn-primary {
  background-color: $hwa-color-orange !important;
  border-color: $hwa-color-orange !important;
  color: $white !important;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";

//Custom Styles
.btn-submit-large {
  padding: 0.4rem 6rem 0.4rem 6rem;
  font-size: 0.8rem;
}


.modal-title {
  text-align: center !important;
}

a {
  text-decoration: underline;
}

.header-txt {
  font-weight: 300;
  font-size: 1.875rem;
  color: $hwa-color-teal;
  margin-bottom: 1.5625rem;
  margin-top: 0.9375rem;
}

th {
  color: $hwa-color-pelorous;
}
 /// pagination

 .fc-event {
  background-color: $hwa-color-orange!important;
  border-radius: 50% !important;
  border: 1px solid $hwa-color-orange !important;
}

.fc-event-container .fc-day-grid-event {
  height: 3.1rem !important;
}

.fc-day-grid-event {
  margin: .7rem 1.9rem !important;
}

 /// pagination \
 .fc-event {
  background-color: $hwa-color-orange!important;
  border-radius: 50% !important;
  border: 1px solid $hwa-color-orange !important;
}

.fc-event-container .fc-day-grid-event {
  height: 3.1rem !important;
}

.fc-day-grid-event {
  margin: .7rem 1.9rem !important;
}

// datepicker
.datepicker {
  background-color: $white !important;
    border-color: $white !important;
    color: $hwa-color-orange !important;

}
ngb-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.table {
  text-align: center;
}

// Modal
@media (min-width: 36rem) {
  .modal-dialog {
    max-width: 50rem !important;
  }
}

.page-item.active .page-link {
  background-color: $hwa-color-orange !important;
  border-color: $hwa-color-orange !important;
  color: $white !important;
}

.page-link {
  color: $hwa-color-orange !important;
}

.fc-event-container .fc-day-grid-event {
  display: block;
  height: 4.6875rem;
}

th[appSortable] {
  cursor: pointer
}
th[appSortable].asc:before,th[appSortable].desc:before{
  content:"";
  display:block;
  background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC")
  no-repeat;
  background-size:1.375rem;
  width:1.375rem;
  height:1.375rem;
  float:left;
  margin-left:-1.375rem
}
th[appSortable].desc:before{
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  -ms-transform:rotate(180deg)
}

// High-Level Styles
$primary-dark: $hwa-color-teal-dark;
$bg-color-accent: $hwa-color-light-gray;
$brand-accent-color: theme-color("secondary");
$brand-mute-accent-color: #e0eaec;
$brand-mute-accent-text-color: $body-color;
$brand-border-color: $gray-300;
$brand-border-radius: 0.25rem;
$brand-border: 1px solid $brand-border-color;
$brand-box-shadow-color: darken(theme-color("secondary"), 20);
$brand-light-gray: $gray-100;
$brand-font-family: "Roboto", sans-serif;

// Button Styles
$brand-button-color: theme-color("secondary");
$brand-button-text-color: $white;

$brand-secondary-button-color: #056072;
$brand-secondary-button-text-color: $white;

$brand-accent-button-color: $brand-accent-color;
$brand-accent-button-text-color: $white;
$brand-accent-button-add-icon: $white;
$brand-accent-button-remove-icon: $white;
$brand-accent-button-info-icon: $white;
$brand-accent-button-save-icon: $white;
$brand-accent-button-cancel-icon: $white;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $hwa-color-light-gray,
  dark: $hwa-color-gray
);

// TODO: FIND OUT HOW TO USE BOOTSTRAP BY IMPORTING THE NEXT FILES
// Required
//@import "../../../node_modules/bootstrap/scss/functions";
//@import "../../../node_modules/bootstrap/scss/variables";
//@import "../../../node_modules/bootstrap/scss/mixins";
////// Optional
//@import "../../../node_modules/bootstrap/scss/reboot";
//@import "../../../node_modules/bootstrap/scss/type";
//@import "../../../node_modules/bootstrap/scss/images";
//@import "../../../node_modules/bootstrap/scss/code";
//@import "../../../node_modules/bootstrap/scss/grid";
