$white: #fff;
// Bootstrap overrides

// Color Definitions
$hwa-color-orange: #f05d21;
$hwa-color-pelorous: #17a2b8;
$hwa-color-teal: #00849b;
$hwa-color-teal-dark: #005260;
$hwa-color-gray: #666;
$hwa-color-light-gray: #f7f7f7;
$hwa-color-dark-gray: #dee2e6;

$primary: $hwa-color-teal;
$secondary: $hwa-color-orange;
$bg-color: $white;
$body-color: $hwa-color-gray;

.btn,
.btn-primary {
  background-color: $hwa-color-orange !important;
  border-color: $hwa-color-orange !important;
  color: $white !important;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";

//Custom Styles
.btn-submit-large {
  padding: 0.4rem 6rem 0.4rem 6rem;
  font-size: 0.8rem;
}

a {
  text-decoration: underline;
}

.header-txt {
  font-weight: 300;
  font-size: 1.875rem;
  color: $hwa-color-teal;
  margin-bottom: 1.5625rem;
  margin-top: 0.9375rem;
}

th {
  color: $hwa-color-pelorous;
}

ngb-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.table {
  text-align: center;
}



.page-item.active .page-link {
  background-color: $hwa-color-orange !important;
  border-color: $hwa-color-orange !important;
  color: $white !important;
}

.page-link {
  color: $hwa-color-orange !important;
}


// High-Level Styles
$primary-dark: $hwa-color-teal-dark;
$bg-color-accent: $hwa-color-light-gray;
$brand-accent-color: theme-color("secondary");
$brand-mute-accent-color: #e0eaec;
$brand-mute-accent-text-color: $body-color;
$brand-border-color: $gray-300;
$brand-border-radius: 0.25rem;
$brand-border: 1px solid $brand-border-color;
$brand-box-shadow-color: darken(theme-color("secondary"), 20);
$brand-light-gray: $gray-100;
$brand-font-family: "Roboto", sans-serif;

// Button Styles
$brand-button-color: theme-color("secondary");
$brand-button-text-color: $white;

$brand-secondary-button-color: #056072;
$brand-secondary-button-text-color: $white;

$brand-accent-button-color: $brand-accent-color;
$brand-accent-button-text-color: $white;
$brand-accent-button-add-icon: $white;
$brand-accent-button-remove-icon: $white;
$brand-accent-button-info-icon: $white;
$brand-accent-button-save-icon: $white;
$brand-accent-button-cancel-icon: $white;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $hwa-color-light-gray,
  dark: $hwa-color-gray
);

// TODO: FIND OUT HOW TO USE BOOTSTRAP BY IMPORTING THE NEXT FILES
// Required
//@import "../../../node_modules/bootstrap/scss/functions";
//@import "../../../node_modules/bootstrap/scss/variables";
//@import "../../../node_modules/bootstrap/scss/mixins";
////// Optional
//@import "../../../node_modules/bootstrap/scss/reboot";
//@import "../../../node_modules/bootstrap/scss/type";
//@import "../../../node_modules/bootstrap/scss/images";
//@import "../../../node_modules/bootstrap/scss/code";
//@import "../../../node_modules/bootstrap/scss/grid";
