  <div class="modal-header">
    <h4 class="modal-title text-muted">Invoice Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Job ID</th>
          <th scope="col">Job Date</th>
          <th scope="col">Homeowner Name</th>
          <th scope="col">Invoice Number</th>
          <th scope="col">Service Address</th>
          <th scope="col">Invoice Amount</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let invoice of paymentHistory?.vendorInvoiceDetails">
          <td scope="row">{{ invoice.jobId }}</td>
          <td scope="row">{{ invoice.jobDate | date }}</td>
          <td scope="row">{{ invoice.customerName }}</td>
          <td scope="row">{{ invoice.invoiceId }}</td>
          <td scope="row">{{ invoice.serviceAddress }}</td>
          <td scope="row">
            {{ invoice.invoiceAmount.amount | formatmoney }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="close()">
      Close
    </button>
  </div>
