.terms-policy-modal {
    background: #fff;
    font-size: 0.8rem;
    height: 50rem;
    margin: 1rem;
    overflow-y: scroll;
    & ::ng-deep {
      & h1,
      & h2 {
        margin-bottom: 1rem;
        display: block;
        font-size: 1.1rem !important;
        font-variant: small-caps;
        font-weight: 700;
        padding: 0.5rem 10% 1rem;
        text-align: center;
        text-transform: capitalize;
        width: 100%;
      }
      & p {
        line-height: 1.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 0 1rem;
        font-size: 1rem;
      }
  
      & .iconBlockAlb2 {
          padding: 0 1rem;
          font-size: 1rem;
        }
    }
  }
  