@import "../../../../assets/styles/contractor-layout-styles.scss";

::ng-deep .modal-content {
  max-width: 300px !important;
  margin: 0 auto;
}
.btn-outline {
  background-color: $white !important;
  color: $color-poppy !important;
}
