@import "../../../../assets/styles/contractor-layout-styles.scss";

::ng-deep {
  div.modal-content:has(.idle-time-submit-modal) {
    max-width: 400px !important;
    margin: 0 auto;
  }
}

.idle-time-submit-modal {
  .modal-footer {
    justify-content: center !important;
  }

  .btn {
    width: 75px;
  }
}

.btn-outline {
  background-color: $white !important;
  color: $color-poppy !important;
}