@import "../../../assets/styles/contractor-layout-styles";

.button-sign-out {
  cursor: pointer;
  color: $hwa-color-teal !important;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none !important;
  &:hover {
    color: #00434f !important;
  }
}

.button-sign-out i {
  font-size: 1rem;
  margin-left: 0.2rem;
}

.centered-container-lg {
  margin: 0 auto;
  width: 95%;
}

.centered-container-md {
  width: 80%;
  margin: 0 auto;
}

#app-header {
  border-bottom: 0.1rem solid $secondary;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

#app-content {
  // background-color: cornflowerblue;
}

.header-logo {
  height: 56px;
  margin: 10px 0;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .centered-container {
    //background-color: darksalmon;
  }
}
