<app-base-layout>
  <div id="app-header">
    <div
      class="d-flex flex-row justify-content-between centered-container-lg mb-1"
    >
      <div>
        <img
          src="../../../assets/images/header-logo.svg"
          alt="HWA: Home Warranty Of America"
          class="header-logo"
        />
      </div>
      <div>
        <a class="button-sign-out text-primary" (click)="logout()">
          Sign Out
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div id="app-menu" class="bg-light">
      <app-menu></app-menu>
    </div>
  </div>
  <div id="app-content" class="centered-container-md">
    <router-outlet></router-outlet>
  </div>
  <div id="app-footer" class="centered-container-md">
    <app-footer></app-footer>
  </div>
</app-base-layout>
