@media (min-width: 76.8rem) {
	.form-group {
		margin-right: 1rem;
	}
	.form-control {
		height: calc(1.5em + 2rem + .2rem);
	}
	.btn-secondary {
		height: 3.6rem;
		width: 3.6rem;
	}
}
.wrapper {
  border-top: 1px solid #c8c8c8;
  padding-top: 1rem;
  max-width: 75%;
}

.filter-btn {
  color: #00849b !important;
  margin-top: 1.5rem;
  text-decoration: underline !important;
  cursor: pointer;
  font-weight: bold;
}
.filter-msg {
  color:  #00849b !important;
  text-align: left;
  font-weight: bold;
}
.form-group.hidden {
	width: 0;
	margin: 0;
	border: none;
	padding: 0;
  }
  .custom-day {
	text-align: center;
	padding: 0.185rem 0.25rem;
	display: inline-block;
	height: 2rem;
	width: 2rem;
	color: grey;
  }
  .custom-day.focused {
	background-color: #e6e6e6;
  }
  .custom-day.range {
	color: green;
  }
  .custom-day.range, .custom-day:hover {
	background-color: rgb(2, 117, 216);
	color: white;
  }
  .custom-day.faded {

	background-color: rgba(2, 117, 216, 0.5);
  }

  .to-date {
    margin-right: 1rem;
  }

  .calendar-input-from {
    &:hover {
      cursor: pointer;
    }
  }

  .btn-info {
    background-color: #c8c8c8 !important;
    border-color: #c8c8c8 !important;
    height: calc(2.25rem + 2px);
    color: #505050 !important;
    font-size: .7rem;
    @media only screen and (min-width: 1229px) {
      height: 3.5rem;
      font-size: 1rem;
    }
    @media only screen and (min-width: 990px) {
      width: 10rem;
    }

  }
.options {
  text-transform: capitalize;
}

.filter-options {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 1229px) {
    flex-direction: row;
  }
}

select {
  @media only screen and (min-width: 990px) {
    width: 10rem;
  }

  @media only screen and (min-width: 1229px) {
    font-size: 1rem;


  }
}

